﻿@model IEnumerable<FXAutomation_Client_Portal.Models.ICORE_CASE_FORMS_DETAILS_VIEW>
@{
    foreach (var item in Model.Take(1))
    {
        <h1 class="text-center custom-font-family">Form : <span class="text-uppercase" id="citi-font-color">@item.CaseForm_Name</span></h1>
    }
    <p class="list">Fileds with <span id="badge-font-size" class="text-red"><b>*</b></span> are required.</p>
    <hr />
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="row">
                <input type="text" id="txtFormIdToSubmitForm" value="@ViewBag.txtFormIdToSubmitForm" hidden/>
                @{ int currentrow = 0;}
                @foreach (var item in Model)
                {
                    currentrow += 1;
                    string FieldId = "ctrlfrmsub" + item.CaseForm_Field_Name.Replace(" ", "").Substring(0, 3).ToString() + item.CaseForm_Field_Id;
                    switch (item.DataType_Name)
                    {

                        case "VARCHAR":
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        @{ if (item.CaseForm_Field_IsRequired == true)
                                            {
                                                <label><span id="badge-font-size" class="text-red"><b>*</b></span> @item.CaseForm_Field_Name</label>
                                            }
                                            else
                                            {
                                                <label>@item.CaseForm_Field_Name</label>
                                            }
                                        }
                                    </div>
                                    <div class="col-md-10">
                                        @if (item.FieldDefaultValue != "" || item.CaseForm_Field_IsRequired == true)
                                        {
                                            <input type="text" id="@FieldId" value="@item.FieldDefaultValue" class="form-control" maxlength="@item.CaseForm_Data_MAX_LENGTH" min="@item.CaseForm_Data_MIN_LENGTH" required />
                                            <strong class="city-default-font-color">
                                                Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                    {
                                                        <span class="text-red">* Required * </span>
                                                    }
                                                }
                                            </strong>
                                        }
                                        else
                                        {
                                            <input type="text" id="@FieldId" class="form-control" maxlength="@item.CaseForm_Data_MAX_LENGTH" min="@item.CaseForm_Data_MIN_LENGTH" />
                                            <strong class="city-default-font-color">
                                                Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                    {
                                                        <span class="text-red">* Required * </span>
                                                    }
                                                }
                                            </strong>
                                        }
                                    </div>
                                </div>
                                <hr />
                            </div>
                            break;
                        case "NUMERIC":
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        @{ if (item.CaseForm_Field_IsRequired == true)
                                            {
                                                <label><span id="badge-font-size" class="text-red"><b>*</b></span> @item.CaseForm_Field_Name</label>
                                            }
                                            else
                                            {
                                                <label>@item.CaseForm_Field_Name</label>
                                            }
                                        }
                                    </div>
                                    <div class="col-md-10">
                                        @if (item.FieldDefaultValue != "" || item.CaseForm_Field_IsRequired == true)
                                        {
                                            <input type="number" id="@FieldId" value="@item.FieldDefaultValue" class="form-control" required />
                                            
                                            <strong class="city-default-font-color">
                                                Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                    {
                                                        <span class="text-red">* Required * </span>
                                                    }
                                                }
                                            </strong>
                                        }
                                        else
                                        {
                                            <input type="number" id="@FieldId" class="form-control" />
                                            
                                            <strong class="city-default-font-color">
                                                Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                    {
                                                        <span class="text-red">* Required * </span>
                                                    }
                                                }
                                            </strong>
                                        }
                                    </div>
                                </div>
                                <hr />
                            </div>
                            break;
                        case "DATETIME":
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        @{ if (item.CaseForm_Field_IsRequired == true)
                                            {
                                                <label><span id="badge-font-size" class="text-red"><b>*</b></span> @item.CaseForm_Field_Name</label>
                                            }
                                            else
                                            {
                                                <label>@item.CaseForm_Field_Name</label>
                                            }
                                        }
                                    </div>
                                    <div class="col-md-10">
                                        @if (item.CaseForm_Field_IsRequired == true)
                                        {
                                            <input type="date" id="@FieldId" class="form-control" required />
                                            <strong class="city-default-font-color">
                                                Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                    {
                                                        <span class="text-red">* Required * </span>
                                                    }
                                                }
                                            </strong>
                                        }
                                        else
                                        {
                                            <input type="date" id="@FieldId" class="form-control" />
                                            <strong class="city-default-font-color">
                                                Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                    {
                                                        <span class="text-red">* Required * </span>
                                                    }
                                                }
                                            </strong>
                                        }
                                    </div>
                                </div>
                                <hr />
                            </div>
                            break;
                        case "NVARCHAR":
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        @{ if (item.CaseForm_Field_IsRequired == true)
                                            {
                                                <label><span id="badge-font-size" class="text-red"><b>*</b></span> @item.CaseForm_Field_Name</label>
                                            }
                                            else
                                            {
                                                <label>@item.CaseForm_Field_Name</label>
                                            }
                                        }
                                    </div>
                                    <div class="col-md-10">
                                        @if (item.FieldDefaultValue != "" || item.CaseForm_Field_IsRequired == true)
                                        {
                                            <input type="text" id="@FieldId" value="@item.FieldDefaultValue" class="form-control" required />
                                            <strong class="city-default-font-color">
                                                Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                    {
                                                        <span class="text-red">* Required * </span>
                                                    }
                                                }
                                            </strong>
                                        }
                                        else
                                        {
                                            <input type="text" id="@FieldId" class="form-control" />
                                            <strong class="city-default-font-color">
                                                Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                    {
                                                        <span class="text-red">* Required * </span>
                                                    }
                                                }
                                            </strong>
                                        }
                                    </div>
                                </div>
                                <hr />
                            </div>
                            break;
                        case "TEXT":
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        @{ if (item.CaseForm_Field_IsRequired == true)
                                            {
                                                <label><span id="badge-font-size" class="text-red"><b>*</b></span> @item.CaseForm_Field_Name</label>
                                            }
                                            else
                                            {
                                                <label>@item.CaseForm_Field_Name</label>
                                            }
                                        }
                                    </div>
                                    <div class="col-md-10">
                                        @if (item.FieldDefaultValue != "" || item.CaseForm_Field_IsRequired == true)
                                        {
                                            <textarea rows="4" id="@FieldId" class="form-control" required>@item.FieldDefaultValue</textarea>
                                            <strong class="city-default-font-color">
                                                Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                    {
                                                        <span class="text-red">* Required * </span>
                                                    }
                                                }
                                            </strong>
                                        }
                                        else
                                        {
                                            <textarea rows="4" id="@FieldId" class="form-control"></textarea>
                                            <strong class="city-default-font-color">
                                                Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                    {
                                                        <span class="text-red">* Required * </span>
                                                    }
                                                }
                                            </strong>
                                        }
                                    </div>
                                </div>
                                <hr />
                            </div>
                            break;
                        case "DROPDOWNLIST":
                            <div class="col-md-12">
                                @if (item.CaseType_Name == null)
                                {
                                    <div class="row">
                                        <div class="col-md-2">
                                            @{ if (item.CaseForm_Field_IsRequired == true)
                                                {
                                                    <label><span id="badge-font-size" class="text-red"><b>*</b></span> @item.CaseForm_Field_Name</label>
                                                }
                                                else
                                                {
                                                    <label>@item.CaseForm_Field_Name</label>
                                                }
                                            }
                                        </div>
                                        <div class="col-md-10">
                                            @{
                                                List<SelectListItem> Dropdown = new List<SelectListItem>();
                                                if (item.Lookup_Text != null)
                                                {
                                                    string[] Texts = item.Lookup_Text.Split(',');
                                                    string[] Values = item.Lookup_Value.Split(',');
                                                    if (Texts.Count() == Values.Count())
                                                    {
                                                        for (int i = 0; i < Texts.Length; i++)
                                                        {
                                                            SelectListItem listitem = new SelectListItem() { Text = Texts[i], Value = Values[i] };
                                                            Dropdown.Add(listitem);
                                                        }
                                                    }
                                                    else
                                                    {
                                                        SelectListItem listitem = new SelectListItem() { Text = "Error in loading list", Value = "Error in loading list" };
                                                        Dropdown.Add(listitem);
                                                    }
                                                }
                                            }
                                            @if (item.CaseForm_Field_IsRequired == true)
                                            {
                                                @Html.DropDownList(item.CaseTitle_Name, new SelectList(Dropdown, "Value", "Text"), new { @class = "form-control select2 select2-primary", @id = FieldId, @required = "required" })
                                                <strong class="city-default-font-color">
                                                    Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                    @{ if (item.CaseForm_Field_IsRequired == true)
                                                        {
                                                            <span class="text-red">* Required * </span>
                                                        }
                                                    }
                                                </strong>
                                            }

                                            else
                                            {
                                                @Html.DropDownList(item.CaseTitle_Name, new SelectList(Dropdown, "Value", "Text"), new { @class = "form-control select2 select2-primary", @id = FieldId })
                                                <strong class="city-default-font-color">
                                                    Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                    @{ if (item.CaseForm_Field_IsRequired == true)
                                                        {
                                                            <span class="text-red">* Required * </span>
                                                        }
                                                    }
                                                </strong>
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-md-2">
                                            @{ if (item.CaseForm_Field_IsRequired == true)
                                                {
                                                    <label><span id="badge-font-size" class="text-red"><b>*</b></span> @item.CaseForm_Field_Name</label>
                                                }
                                                else
                                                {
                                                    <label>@item.CaseForm_Field_Name</label>
                                                }
                                            }
                                        </div>
                                        <div class="col-md-10">
                                            @{
                                                List<SelectListItem> Dropdown = new List<SelectListItem>();
                                                if (item.Lookup_Text != null)
                                                {
                                                    string[] Texts = item.Lookup_Text.Split(',');
                                                    string[] Values = item.Lookup_Value.Split(',');
                                                    if (Texts.Count() == Values.Count())
                                                    {
                                                        for (int i = 0; i < Texts.Length; i++)
                                                        {
                                                            SelectListItem listitem = new SelectListItem() { Text = Texts[i], Value = Values[i] };
                                                            Dropdown.Add(listitem);
                                                        }
                                                    }
                                                    else
                                                    {
                                                        SelectListItem listitem = new SelectListItem() { Text = "Error in loading list", Value = "Error in loading list" };
                                                        Dropdown.Add(listitem);
                                                    }
                                                }
                                            }
                                            @if (item.CaseForm_Field_IsRequired == true)
                                            {
                                                @Html.DropDownList(item.CaseType_Name, new SelectList(Dropdown, "Value", "Text"), new { @class = "form-control select2 select2-primary", @id = FieldId, @required = "required" })
                                                <strong class="city-default-font-color">
                                                    Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                    @{ if (item.CaseForm_Field_IsRequired == true)
                                                        {
                                                            <span class="text-red">* Required * </span>
                                                        }
                                                    }
                                                </strong>
                                            }
                                            else
                                            {
                                                @Html.DropDownList(item.CaseType_Name, new SelectList(Dropdown, "Value", "Text"), new { @class = "form-control select2 select2-primary", @id = FieldId })
                                                <strong class="city-default-font-color">
                                                    Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                    @{ if (item.CaseForm_Field_IsRequired == true)
                                                        {
                                                            <span class="text-red">* Required * </span>
                                                        }
                                                    }
                                                </strong>
                                            }
                                        </div>
                                    </div>
                                }
                                <hr />
                            </div>
                            break;
                        default:
                            break;
                    }
                }
            </div>
        }
    }
}