﻿

<div class="card card-primary card-primary" id="FormDocumentBody">
    <div class="card-header" style="background-color:#003b70">
        <h3 class="card-title">Case Form</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!--#region Card-header -->
    <div class="card-body">
        <div id="CaseForm_PartialView">

        </div>

        <div class="card card-header" style="background-color:#003b70">
            <h3 class="card-title" style="color:white">Case Document</h3>
        </div>
        <div id="CaseDocument_PartialView">

        </div>
        <label><input id="AcknowledgeCheckBox" type="checkbox" /><span class="red"> Certified that all the field information is valid.</span></label>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="FormSubmission" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>