﻿@model FXAutomation.Models.AssignRoles_Custom
@{
    ViewBag.Title = "Manage User";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Manage User";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("AddUser", "Icore_User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Entity.LOG_ID)
    <input id="FormTypeFX" hidden value="@ViewBag.FormTypeFX" />
    <div class="card">
        <div class="card-header citi-table-head">
            <h3 class="card-title">Manage Login User</h3>
            <div class="card-tools">
                <a href="@Url.Action("AddUser", "Icore_User")" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Add New</a>
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("User Login ID")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.LOG_USER_ID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Login User ID" } })
                            @Html.ValidationMessageFor(model => model.Entity.LOG_USER_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("User Name")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.LOG_USER_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Login User name" } })
                            @Html.ValidationMessageFor(model => model.Entity.LOG_USER_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("User Last Name")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.LOG_USER_LAST_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Login User Last name" } })
                            @Html.ValidationMessageFor(model => model.Entity.LOG_USER_LAST_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("User Email")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.LOG_EMAIL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Login User Email" } })
                            @Html.ValidationMessageFor(model => model.Entity.LOG_EMAIL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("User Rist ID")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.LOG_RIST_ID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Login User Rist ID" } })
                            @Html.ValidationMessageFor(model => model.Entity.LOG_RIST_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("User GE ID")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Entity.LOG_USER_GE_ID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Login User Rist ID" } })
                            @Html.ValidationMessageFor(model => model.Entity.LOG_USER_GE_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("User Status")
                        <div class="col-md-10">
                            <div class="dropdown">
                                @Html.DropDownListFor(model => model.Entity.LOG_USER_STATUS, new List<SelectListItem>
                                { new SelectListItem{Text="Active", Value="Active"},
                                 new SelectListItem{Text="Deactive", Value="Deactive"}},"--Select Status--", new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.Entity.LOG_USER_STATUS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Role Name")
                        <div class="col-md-10">
                            @Html.ListBoxFor(model => model.SelectedRoles, Model.RolesList, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.SelectedRoles, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary btn-sm" />
                </div>
            </div>
        </div>
    </div>
    <div>
        @{
            Html.RenderAction("AddUserView", "Icore_User");
        }
    </div>
}