﻿@model IEnumerable<FXAutomation.Models.ICORE_CASE_DOCUMENTS_VIEW>

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="row">
                @{ int no_of_row = 0;}
                @foreach (var item in Model)
                {
                    no_of_row += 1;
                    string DocId = "ctrldocsub" + item.Case_Doc_Name.Replace(" ", "").Substring(0, 3).ToString() + item.Case_Doc_Id;
                    switch (item.Format_extension)
                    {
                        case "PDF":
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@item.Case_Doc_Name</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="file" class="form-control" accept=".@item.Format_extension" id="@DocId">
                                            <a href="#" onclick="GetDocumentFile('@DocId');" class="btn btn-outline-info" style="float:right;"><span class="fas fa-plus"> </span> Add</a>
                                        </div>
                                    </div>
                                    <strong style="color:#007bff" class="font-weight-lighter">
                                        <p>

                                            @{ if (item.Case_Doc_IsRequired == true)
                                                {
                                                    <strong style="color:red">* @item.Case_Doc_Description is Required * </strong>
                                                }
                                                else
                                                {
                                                    <strong style="color:blue">* @item.Case_Doc_Description is Optional </strong>
                                                }
                                            }
                                        </p>
                                        <p style="color:red;"><strong>"@item.Format_extension"</strong> Format Required !!</p>
                                    </strong>
                                </div>
                            </div>
                            <br />
                            break;
                        case "Docx":
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@item.Case_Doc_Name</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="file" class="form-control" accept=".@item.Format_extension" id="@DocId">
                                            <a href="#" onclick="GetDocumentFile('@DocId');" class="btn btn-outline-info" style="float:right;"><span class="fas fa-plus"> </span> Add</a>
                                        </div>
                                    </div>
                                    <strong style="color:#007bff" class="font-weight-lighter">
                                        <p style="color:blue;">
                                            * @item.Case_Doc_Description
                                        </p>
                                        <p style="color:red;">"@item.Format_extension" Format Required !!</p>
                                    </strong>
                                </div>
                            </div>
                            <br />
                            break;
                        case "xls":
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@item.Case_Doc_Name</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="file" class="form-control" accept=".@item.Format_extension" id="@DocId">
                                            <a href="#" onclick="GetDocumentFile('@DocId');" class="btn btn-outline-info" style="float:right;"><span class="fas fa-plus"> </span> Add</a>
                                        </div>
                                    </div>
                                    <strong style="color:#007bff" class="font-weight-lighter">
                                        <p style="color:blue;">
                                            * @item.Case_Doc_Description
                                        </p>
                                        <p style="color:red;">"@item.Format_extension" Format Required!!</p>
                                    </strong>
                                </div>
                            </div>
                            <br />
                            break;
                        default:
                            break;
                    }
                }
            </div>
        }
    }
}


