﻿@model IEnumerable<FXAutomation.Models.ICORE_CASE_FORMS_DETAILS_VIEW>
@{
    foreach (var item in Model.Take(1))
    {
        <h1 class="text-center">Form : <span style="color:#007bff;text-transform:uppercase">@item.CaseForm_Name</span></h1>
    }
    <hr />
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="row">

                @{ int currentrow = 0;}
                @foreach (var item in Model)
                {
                    currentrow += 1;
                    string FieldId = "ctrlfrmsub" + item.CaseForm_Field_Name.Replace(" ", "").Substring(0,3).ToString() + item.CaseForm_Field_Id;
                    switch (item.DataType_Name)
                    {

                        case "VARCHAR":
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dep_name">@item.CaseForm_Field_Name</label>
                                    <div class="col-md-10">
                                        <input type="text" id="@FieldId" class="form-control" maxlength="@item.CaseForm_Data_Lenght" />
                                        <strong style="color:#007bff" class="font-weight-lighter">
                                            Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_Lenght
                                            @{ if (item.CaseForm_Field_IsRequired == true)
                                                {
                                                    <strong style="color:red">* Required * </strong>
                                                }
                                            }
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            break;
                        case "NUMERIC":
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dep_name">@item.CaseForm_Field_Name</label>
                                    <div class="col-md-10">
                                        <input type="number" id="@FieldId" class="form-control" />
                                        <strong style="color:#007bff" class="font-weight-lighter">
                                            Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_Lenght
                                            @{ if (item.CaseForm_Field_IsRequired == true)
                                                {
                                                    <strong style="color:red">* Required * </strong>
                                                }
                                            }
                                        </strong>
                                        <br />

                                    </div>
                                </div>
                            </div>
                            break;
                        case "DATETIME":
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dep_name">@item.CaseForm_Field_Name</label>
                                    <div class="col-md-10">
                                        <input type="date" id="@FieldId" class="form-control" />
                                        <strong style="color:#007bff" class="font-weight-lighter">
                                            Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_Lenght
                                            @{ if (item.CaseForm_Field_IsRequired == true)
                                                {
                                                    <strong style="color:red">* Required * </strong>
                                                }
                                            }
                                        </strong>
                                        <br />
                                    </div>
                                </div>
                            </div>
                            break;
                        case "NVARCHAR":
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dep_name">@item.CaseForm_Field_Name</label>
                                    <div class="col-md-10">
                                        <input type="text" id="@FieldId" class="form-control" />
                                        <strong style="color:#007bff" class="font-weight-lighter">
                                            Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_Lenght
                                            @{ if (item.CaseForm_Field_IsRequired == true)
                                                {
                                                    <strong style="color:red">* Required * </strong>
                                                }
                                            }
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            break;
                        case "TEXT":
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dep_name">@item.CaseForm_Field_Name</label>
                                    <div class="col-md-10">
                                        <textarea rows="5" id="@FieldId" class="form-control"></textarea>
                                        <strong style="color:#007bff" class="font-weight-lighter">
                                            Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_Lenght
                                            @{ if (item.CaseForm_Field_IsRequired == true)
                                                {
                                                    <strong style="color:red">* Required * </strong>
                                                }
                                            }
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            break;
                        case "DROPDOWNLIST":
                            <div class="col-md-4">
                                @if (item.CaseType_Name == null)
                                {
                                    <div class="form-group">
                                        <label>@item.CaseForm_Field_Name</label>
                                        <div class="col-md-10">
                                            @{
                                                List<SelectListItem> Dropdown = new List<SelectListItem>();
                                                if (item.Lookup_Text != null)
                                                {
                                                    string[] Texts = item.Lookup_Text.Split(',');
                                                    string[] Values = item.Lookup_Value.Split(',');
                                                    for (int i = 0; i < Texts.Length; i++)
                                                    {
                                                        SelectListItem listitem = new SelectListItem() { Text = Texts[i], Value = Values[i] };
                                                        Dropdown.Add(listitem);
                                                    }
                                                }
                                            }
                                            @Html.DropDownList(item.CaseTitle_Name, new SelectList(Dropdown, "Value", "Text"), new { @class = "form-control select2 select2-primary", @id = FieldId  } )
                                            <strong style="color:#007bff" class="font-weight-lighter">
                                                Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_Lenght
                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                    {
                                                        <strong style="color:red">* Required * </strong>
                                                    }
                                                }
                                            </strong>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label>@item.CaseForm_Field_Name</label>
                                        <div class="col-md-10">
                                            @{
                                                List<SelectListItem> Dropdown = new List<SelectListItem>();
                                                if (item.Lookup_Text != null)
                                                {
                                                    string[] Texts = item.Lookup_Text.Split(',');
                                                    string[] Values = item.Lookup_Value.Split(',');
                                                    for (int i = 0; i < Texts.Length; i++)
                                                    {
                                                        SelectListItem listitem = new SelectListItem() { Text = Texts[i], Value = Values[i] };
                                                        Dropdown.Add(listitem);
                                                    }
                                                }
                                            }
                                            @Html.DropDownList(item.CaseType_Name, new SelectList(Dropdown, "Value", "Text"), new { @class = "form-control select2 select2-primary", @id = FieldId  })
                                            <strong style="color:#007bff" class="font-weight-lighter">
                                                Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_Lenght
                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                    {
                                                        <strong style="color:red">* Required * </strong>
                                                    }
                                                }
                                            </strong>
                                        </div>
                                    </div>
                                }
                            </div>
                            break;
                        default:
                            break;
                    }
                }
            </div>
        }
    }
}
