﻿@model FXAutomation.Models.ICORE_CASE_SUBMISSION_FORM_VIEW
@{
    ViewBag.Title = "Case Submission Form";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Case Submission Forms";
}
@{
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fa fa-times"></span></button>
            @ViewBag.message
        </div>

    }
}
@using (Html.BeginForm("Submission_Form", "Icore_CaseSubmission_Form", FormMethod.Post, new { id = "Submission_Form_Temp" }))
{
    <div id="CaseFormSubmissionView">
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.CaseType_CategoryId)
        @Html.HiddenFor(m => m.CaseTitle_CaseTypeId)

        <div class="card card-default card-outline">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_form_case_type">Select Department</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.Dept_Id, null, new { @class = "form-control select2 select2-primary" })
                                    @Html.ValidationMessageFor(model => model.Dept_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_form_case_type">Select Category</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.Categ_DeptId, null, new { @class = "form-control select2 select2-primary", @id = "Categ_DeptId" })
                                    @Html.ValidationMessageFor(model => model.Categ_DeptId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_form_case_type">Select Case Type</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.CaseType_Id, null, new { @class = "form-control select2 select2-primary" })
                                    @Html.ValidationMessageFor(model => model.CaseType_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="case_form_case_type">Select Case Title</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.CaseTitle_Id, null, new { @class = "form-control select2 select2-primary" })
                                    @Html.ValidationMessageFor(model => model.CaseTitle_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Case Form View on ajax call -->
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Form Documents</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>

    <p>

    </p>
    <!--#region Card-header -->
    <div class="card-body">
        <div id="CaseForm_PartialView">

        </div>
        <div id="CaseDocument_PartialView">

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="FormSubmission" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</div>
<div id="CaseSubmittedFormList">

</div>
<div class="modal fade" id="modal-xl">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Submitted Form</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="SubmittedCaseFormFields"></div>

                <div id="SubmittedCaseDocument"></div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                <h4><b>FX</b> Digitalization</h4>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>