﻿@model FXAutomation.Models.EditSubmittedFormAD

@{
    ViewBag.Title = "Submitted Case";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Submitted Case";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>

    }
}
<a href="@Url.Action("OpsQueue","Icore_SubmittedCase")" class="btn btn-outline-primary">Back</a>
<hr />
@using (Html.BeginForm("UpdateSubmittedFormAD", "Icore_CaseSubmission_Form", FormMethod.Post))
{
    var FormID = Model.Master.SCFM_ID;
    <div id="EditSubmittedForm">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Master.SCFM_ID)

        <div class="card">
            <div class="card-header citi-table-head">
                <h3 class="card-title">Saved Form</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <!--#region Form Name-->
                @foreach (var item in Model.FieldList.Take(1))
                {
                    <h1 class="text-center">Form : <span class="text-uppercase city-default-font-color">@item.CaseForm_Name</span></h1>
                }
                <hr />
                <p class="list">Fileds with <span class="text-red require-font-size"><b>*</b></span> are required.</p>
                <hr />
                <!--#endregion-->
                <div class="row">
                    @{
                        int currentrow = 0;
                    }
                    @foreach (var item in Model.FieldList)
                    {
                        currentrow += 1;
                        string FieldId = "ctrlfrmsub" + item.CaseForm_Field_Name.Replace(" ", "").Substring(0, 3).ToString() + item.SCFD_FIELD_ID;
                        <div class="col-md-12">
                            <div class="row">
                                @if (item.CaseForm_Filed_IsAD == true)
                                {
                                    <div class="col-md-2">
                                        @{
                                            if (item.CaseForm_Field_IsRequired == true)
                                            {
                                                <label><span class="text-red require-font-size">*</span> @item.CaseForm_Field_Name</label>
                                            }
                                            else
                                            {
                                                <label>@item.CaseForm_Field_Name</label>
                                            }
                                        }
                                    </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(modelItem => item.SCFD_FIELD_VALUE, new { htmlAttributes = new { @class = "form-control", @id = FieldId, @maxlength = item.CaseForm_Data_MAX_LENGTH } })
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-2">
                                        @{
                                            if (item.CaseForm_Field_IsRequired == true)
                                            {
                                                <label><span class="text-red require-font-size">*</span> @item.CaseForm_Field_Name</label>
                                            }
                                            else
                                            {
                                                <label>@item.CaseForm_Field_Name</label>
                                            }
                                        }
                                    </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(modelItem => item.SCFD_FIELD_VALUE, new { htmlAttributes = new { @class = "form-control", @id = FieldId, @maxlength = item.CaseForm_Data_MAX_LENGTH, @readonly = "readonly" } })
                                    </div>
                                }
                            </div>
                            <hr />
                        </div>
                    }
                </div>
                <h1>Attached Documents</h1>
                <hr />
                <p class="list">Documents with <span class="text-red require-font-size"><b>*</b></span> are required.</p>
                <p class="list">Document Names should be of naming convention: <Document Name>.pdf e.g for Cover Letter, name should be "Cover Letter.pdf"</p>
                <p class="list">Document Names should not contain any special characters i.e & # + % \ / : * ? "</p>
                <p class="list">Only PDF extention is allowed. (For additional documents doc, docx, xls, xlsx, pdf, txt, csv, ppt, pptx extensions are allowed)</p>
                <p class="list">Documents size should not exceed 5MB.</p>
                <hr />
                <div class="row" id="SavedDocument">
                    @{
                        int no_of_row = 0;
                    }
                    @foreach (var item in Model.DocumentList)
                    {
                        no_of_row += 1;
                        string DocId = "ctrldocsub" + item.Case_Doc_Name.Replace(" ", "").Substring(0, 3).ToString() + item.SCD_DOCUMENT_ID;
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    @{
                                        if (item.Case_Doc_IsRequired == true)
                                        {
                                            <label><span class="text-red require-font-size">*</span> @item.Case_Doc_Name</label>
                                        }
                                        else
                                        {
                                            <label>@item.Case_Doc_Name</label>
                                        }
                                    }
                                </div>
                                <div class="col-md-7">
                                    @if (item.Case_Doc_IsAD == true)
                                    {
                                    <input type="file" class="form-control citi-table-head" id="@DocId" accept=".@item.Format_extension">
                                    }
                                    else
                                    {
                                    <input type="file" class="form-control citi-table-head" disabled id="@DocId" accept=".@item.Format_extension">
                                    }       
                                </div>
                                <div class="col-md-3">
                                    @{
                                        if (item.Case_Doc_IsAD == true)
                                        {
                                            if (item.SCD_DOCUMENT_VALUE != null && item.SCD_DOCUMENT_VALUE != "")
                                            {
                                                int ix = item.SCD_DOCUMENT_VALUE.IndexOf("Uploads");

                                                if (ix != -1)
                                                {
                                                    string WebDomain = Request.Url.GetLeftPart(UriPartial.Authority);
                                                    string FinalDomain = WebDomain + "/";
                                                    string DocumentURL = FinalDomain + item.SCD_DOCUMENT_VALUE.Substring(ix).Replace("\\", "/");
                                                    <a href="@Url.Action("ViewFile","Icore_CaseSubmission_Form", new { ID = item.SCD_ID})" target="_blank" class="btn btn-outline-primary" title="View @item.Case_Doc_Name file" data-toggle="tooltip">
                                                        View Previous File
                                                    </a>
                                                    @*<a href="@DocumentURL" target="_blank" class="btn btn-outline-primary"> View Previous File </a>*@
                                                }
                                                else
                                                {
                                                    <a href="#" class="btn btn-outline-primary"> View Previous File</a>
                                                }
                                            }
                                            else
                                            {
                                                <p class="btn btn-outline-warning"> No File Uploaded By AD </p>
                                            }
                                        }
                                        else
                                        {
                                            if (item.SCD_DOCUMENT_VALUE != null && item.SCD_DOCUMENT_VALUE != "")
                                            {
                                                int ix = item.SCD_DOCUMENT_VALUE.IndexOf("Uploads");

                                                if (ix != -1)
                                                {
                                                    <a href="@Url.Action("ViewFile","Icore_CaseSubmission_Form", new { ID = item.SCD_ID})" target="_blank" class="btn btn-outline-primary" title="View @item.Case_Doc_Name file" data-toggle="tooltip">
                                                        View Previous File
                                                    </a>
                                                    @*<a href="@DocumentURL" target="_blank" class="btn btn-outline-primary"> View Previous File </a>*@
                                                }
                                                else
                                                {
                                                    <p class="btn btn-outline-warning"> No File Uploaded By Client </p>
                                                }
                                            }
                                            else
                                            {
                                                <p class="btn btn-outline-warning"> No File Uploaded By Client </p>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <hr />
                        </div>
                    }
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" value="@FormID" name="EditSubittedFormAD" class="btn btn-outline-primary">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}