﻿@model IEnumerable<FXAutomation.Models.ICORE_COMMENT_DETAIL_LOG>

<!-- DIRECT CHAT -->
<div class="card direct-chat direct-chat-primary">
    <!-- /.card-header -->
    <div class="card-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages">
            <input type="hidden" id="DocumentID" value="@ViewBag.DocumentID" />
            @{
                if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        FXAutomation.Models.FXDIGEntities cont = new FXAutomation.Models.FXDIGEntities();
                        if (item.CDL_IS_AD == true)
                        {
                        <!-- Message to the right -->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-infos clearfix">
                                    @{ 
                                        string UserName = cont.ICORE_LOGIN.Where(m => m.LOG_USER_ID == item.CDL_ADDED_BY).Select(m => m.LOG_USER_NAME).FirstOrDefault();
                                    }
                                    <span class="direct-chat-name float-right">@UserName</span>
                                    <span class="direct-chat-timestamp float-left">@item.CDL_ENTRY_DATETIME</span>
                                </div>
                                <div class="direct-chat-text">
                                    @item.CDL_COMMENTS
                                </div>
                                <!-- /.direct-chat-text -->
                            </div>
                        }
                        else
                        {
                       <!-- Message. Default to the left -->
                            <div class="direct-chat-msg">
                                <div class="direct-chat-infos clearfix">
                                    @{
                                        string UserName = cont.ICORE_CLIENT_PORTFOLIO.Where(m => m.CP_EMAIL == item.CDL_ADDED_BY).Select(m => m.CP_NAME).FirstOrDefault();
                                    }
                                    <span class="direct-chat-name float-left">@UserName</span>
                                    <span class="direct-chat-timestamp float-right">@item.CDL_ENTRY_DATETIME</span>
                                </div>
                                <div class="direct-chat-text">
                                    @item.CDL_COMMENTS
                                </div>
                                <!-- /.direct-chat-text -->
                            </div>
                        }
                    }
                }
                else
                {
                    <div class="text-center">
                        No Comments found against the document
                    </div>
                }
            }
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <form action="#" method="post">
            <div class="input-group">
                <input type="text" name="message" autocomplete="off" id="CommentsData" placeholder="Type Message ..." class="form-control">
                <span class="input-group-append">
                    <button type="button" id="GetCommendFromSendButton" name="GetCommendFromSendButton" class="btn btn-primary">Send</button>
                </span>
            </div>
        </form>
    </div>
    <!-- /.card-footer-->
</div>
<!--/.direct-chat -->
