﻿@model IEnumerable<FXAutomation.Models.ICORE_SUBMIT_CASE_DOCUMENT_VIEW>

<h1>Attached Documents</h1>
<hr />
<div class="row">
    @foreach (var item in Model)
    {
        string DocId = "doc" + item.Case_Doc_Name.Replace(" ", "").Substring(0, 3).ToString() + item.SCD_ID;
        string LabelData = "labeldata" + item.SCD_ID;

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10">
                    @if (item.Case_Doc_IsAD == false)
                    {
                        <input type="text" id="@LabelData" class="form-control" readonly="readonly" value="@item.Case_Doc_Name" />
                        if (item.SCD_DOCUMENT_VALUE != null && item.SCD_DOCUMENT_VALUE != "")
                        {
                            <button id="OpenChatAgainstDocument" name="OpenChatAgainstDocument" value="@item.SCD_ID" class="btn btn-primary form-control" data-toggle="modal" data-target="#modal-lg">Click here to give Comments/ Remarks</button>
                            @*<input autocomplete="off" type="text" class="form-control" id="@DocId" value="@item.SCD_COMMENT" placeholder="Enter Comments/ Remarks" />*@
                        }
                        else
                        {
                            @*<button id="OpenChatAgainstDocument" name="OpenChatAgainstDocument" disabled value="@item.SCD_ID" class="btn btn-primary form-control" data-toggle="modal" data-target="#modal-lg">Click here to give Comments/ Remarks</button>*@
                            @*<input autocomplete="off" type="text" class="form-control" disabled id="@DocId" value="@item.SCD_COMMENT" placeholder="Enter Comments/ Remarks" />*@
                        }
                    }
                    else
                    {
                        <input type="text" id="@LabelData" class="form-control" readonly="readonly" value="@item.Case_Doc_Name" />
                    }
                    @*@Html.EditorFor(model => itemss.SCD_COMMENT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Comments" } })*@
                </div>
                <div class="col-md-2">
                    @{
                        if (item.Case_Doc_IsAD == true)
                        {
                            if (item.SCD_DOCUMENT_VALUE != null && item.SCD_DOCUMENT_VALUE != "")
                            {
                                int ix = item.SCD_DOCUMENT_VALUE.IndexOf("Uploads");

                                if (ix != -1)
                                {
                                    string WebDomain = Request.Url.GetLeftPart(UriPartial.Authority);
                                    string FinalDomain = WebDomain + "/";
                                    string DocumentURL = FinalDomain + item.SCD_DOCUMENT_VALUE.Substring(ix).Replace("\\", "/");
                                    <a href="@Url.Action("ViewFile","Icore_CaseSubmission_Form", new { ID = item.SCD_ID})" target="_blank" class="btn btn-outline-primary " title="View @item.Case_Doc_Name file" data-toggle="tooltip">
                                        <span class="fas fa-eye"></span>
                                    </a>
                                }
                                else
                                {
                                    <a href="#" class="btn btn-outline-primary "> <span class="fas fa-eye"></span></a>
                                }
                            }
                            else
                            {
                                <p class="btn btn-outline-warning" title="No File Uploaded By AD" data-toggle="tooltip"> <span class="fas fa-exclamation-triangle"></span></p>
                            }
                        }
                        else
                        {
                            if (item.SCD_DOCUMENT_VALUE != null && item.SCD_DOCUMENT_VALUE != "")
                            {
                                int ix = item.SCD_DOCUMENT_VALUE.IndexOf("Uploads");

                                if (ix != -1)
                                {
                                    <a href="@Url.Action("ViewFile","Icore_CaseSubmission_Form", new { ID = item.SCD_ID})" target="_blank" class="btn btn-outline-primary " title="View @item.Case_Doc_Name file" data-toggle="tooltip">
                                        <span class="fas fa-eye"></span>
                                    </a>
                                    <br />
                                    @*<button type="button" value="@item.SCD_ID" title="Add comment for @item.Case_Doc_Name" data-toggle="tooltip" name="AddCommentToDocTest" class="btn btn-outline-primary ">
                                        <span class="fas fa-comments"></span>
                                    </button>*@
                                }
                                else
                                {
                                    <p class="btn btn-outline-warning" title="No File Uploaded By Client" data-toggle="tooltip"> <span class="fas fa-exclamation-triangle"></span></p>
                                }
                            }
                            else
                            {
                                <p class="btn btn-outline-warning" title="No File Uploaded By Client" data-toggle="tooltip"> <span class="fas fa-exclamation-triangle"></span></p>
                            }
                        }
                    }
                </div>
            </div>
            <br />
        </div>
    }
</div>

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chat with Client</h4>
                <button type="button" class="close" id="ChatWithClientModel" name="ChatWithClientModel" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="LoadChatWithClientsHere"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>