﻿
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | @ViewBag.title</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Content/Dashboard/plugins/fontawesome-free/css/all.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/Content/Dashboard/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/Content/Dashboard/plugins/toastr/toastr.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/Dashboard/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/Dashboard/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/Dashboard/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/Content/Dashboard/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/Dashboard/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link href="~/Content/Dashboard/dist/css/adminlte.css" rel="stylesheet" />
    <!-- Font Awsome -->
    <link href="~/Content/Dashboard/dist/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/Dashboard/dist/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/Dashboard/dist/css/CustomDatePicker.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/Dashboard/dist/css/CustomCss.css" rel="stylesheet" />
</head>
<body id="main-body" class="hold-transition sidebar-mini text-sm">
    <div id="loading" align="center">
        <img src="~/Content/Dashboard/dist/img/PRC_Loader.gif" alt="Citi Loader" />
    </div>
    <iframe id="iframeClientPortal" class="display-none"></iframe>
    <div class="wrapper">
        @{
            @RenderBody();
        }
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/Content/Dashboard/plugins/jquery/jquery.min.js"></script>
    <!-- Custom jQuery -->
    <script src="~/Content/Dashboard/build/js/customjquery.js"></script>
    <script src="~/Content/Dashboard/build/js/CustomDatePicker.js"></script>
    <script src="~/Content/Dashboard/build/js/CustomDatePickerUI.js"></script>
    <script src="~/Content/Dashboard/build/js/CustomJs.js"></script>
    <script src="~/Content/Dashboard/build/js/GetePRCUrls.js"></script>
    <!-- Bootstrap 4 -->
    <!-- SweetAlert2 -->
    <script src="~/Content/Dashboard/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/Content/Dashboard/plugins/toastr/toastr.min.js"></script>
    <script src="~/Content/Dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/Dashboard/plugins/select2/js/select2.full.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/Content/Dashboard/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Dashboard/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/Content/Dashboard/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Dashboard/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/Dashboard/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/Dashboard/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/Dashboard/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/Dashboard/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/Dashboard/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/Dashboard/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/Dashboard/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/Dashboard/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/Dashboard/dist/js/adminlte.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/Content/Dashboard/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
</body>
</html>
