﻿@model IEnumerable<FXAutomation.Models.ICORE_DEPARTMENTS>

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card">
                <div class="card-header citi-table-head">
                    <h3 class="card-title">Department List</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered text-center table-hover">
                        <thead class="citi-table-head">
                            <tr>
                                <th>
                                    <label for="grid_dep_code">Department Code</label>
                                </th>
                                <th>
                                    <label for="grid_dep_name">Department Name</label>
                                </th>
                                <th>
                                    <label for="grid_status">Department Status</label>
                                </th>
                                <th>
                                    <label for="grid_action">Action</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dept_Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dept_Name)
                                    </td>
                                    <td>
                                        @if (item.Dept_Status == true)
                                        {
                                            <p class="badge badge-success badge-font">Active</p>
                                        }
                                        else
                                        {
                                            <p class="badge badge-danger badge-font">Deactive</p>
                                        }
                                    </td>
                                    <td>
                                        @if (item.Dept_IsAuth == true)
                                        {
                                            <a href="@Url.Action("Department", "Icore_Department", new { Depid = FXAutomation.DAL.Encrypt(item.Dept_Id.ToString()) })"
                                               data-toggle="tooltip" title="Edit @Html.DisplayFor(modelItem => item.Dept_Name)" class="btn btn-outline-primary btn-sm">
                                                Edit
                                            </a>
                                        }
                                        @if (item.Dept_MakerId != Session["USER_ID"].ToString() && item.Dept_IsAuth == false)
                                        {
                                            <button type="button" value="@item.Dept_Id" name="AuthorizeDept" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.Dept_Name)" class="btn btn-outline-success btn-sm">
                                                <span class="fas fa-check"></span>
                                            </button>
                                            <button type="button" value="@item.Dept_Id" name="DeleteFromAuthorizeDept" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.Dept_Name)" class="btn btn-outline-danger btn-sm">
                                                <span class="fas fa-times"></span>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot class="citi-table-head">
                            <tr>
                                <th>
                                    <label for="grid_dep_code">Department Code</label>
                                </th>
                                <th>
                                    <label for="grid_dep_name">Department Name</label>
                                </th>
                                <th>
                                    <label for="grid_status">Department Status</label>
                                </th>
                                <th>
                                    <label for="grid_action">Action</label>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
    }
}