﻿@model FXAutomation.Models.ICORE_DEPARTMENTS
@{
    ViewBag.Title = "Department";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Case Departments";
}
@{
    if (ViewBag.messeage != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.messeage
        </div>

    }
}
@using (Html.BeginForm("Department", "Icore_Department", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Dept_Id)

    <div class="card">
        <div class="card-header citi-table-head">
            <h3 class="card-title">Department</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dep_name">Department Name</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Dept_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Department Name" } })
                            @Html.ValidationMessageFor(model => model.Dept_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dep_code">Department Code</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Dept_Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Department Code" } })
                            @Html.ValidationMessageFor(model => model.Dept_Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dep_status">Department Status</label>
                        <div class="col-md-10">
                            <div class="dropdown">
                                @Html.DropDownListFor(model => model.Dept_Status, new List<SelectListItem>
                                { new SelectListItem{Text="Active", Value="true"},
                                 new SelectListItem{Text="Deactive", Value="false"}},"--Select Status--", new { @class = "form-control select2 select2-primary" })
                                @*@Html.EditorFor(model => model.Dept_Status, new { htmlAttributes = new { @class = "form-control select2 select2-primary" } })*@
                                @Html.ValidationMessageFor(model => model.Dept_Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        @{
            Html.RenderAction("Dep_Grid", "Icore_Department");
        }
    </div>
}