﻿@model FXAutomation.Models.ICORE_CATEGORIES

@{
    ViewBag.Title = "Categories";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Case Categories";
}

@{
    if (ViewBag.messeage != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.messeage
        </div>
    }
}
@using (Html.BeginForm("Categories", "Icore_Categories", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Categ_Id)

        <div class="card">
            <div class="card-header citi-table-head">
                <h3 class="card-title">Categories</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cate_name">Category Name</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Categ_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Category Name" } })
                                @Html.ValidationMessageFor(model => model.Categ_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cate_code">Category Code</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Categ_Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Category Code" } })
                                @Html.ValidationMessageFor(model => model.Categ_Code, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cate_status">Category Status</label>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.DropDownListFor(model => model.Categ_Status, new List<SelectListItem>
                                    { new SelectListItem{Text="Active", Value="true"},
                                     new SelectListItem{Text="Deactive", Value="false"}},"--Select Status--", new { @class = "form-control select2 select2-primary" })
                                    @Html.ValidationMessageFor(model => model.Categ_Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cate_desription">Select Department</label>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.Categ_DeptId, null, new { @class = "form-control select2 select2-primary", @id = "Category_DeptId" })
                                @Html.ValidationMessageFor(model => model.Categ_DeptId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="cate_desription">Category Description</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Categ_Description, new { @class = "form-control", @rows = "5", @placeholder = "Enter Category Description" })
                            @Html.ValidationMessageFor(model => model.Categ_Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-outline-primary btn-sm" />
                    </div>
                </div>
            </div>
        </div>
    <div>
        @{
            Html.RenderAction("Cate_Grid", "Icore_Categories");
        }
    </div>
}
