﻿@model IEnumerable<FXAutomation.Models.ICORE_CASE_TITLES_VIEW>

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card">
                <div class="card-header citi-table-head">
                    <h3 class="card-title">Case Title List</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered text-center table-hover">
                        <thead class="citi-table-head">
                            <tr>
                                <th>
                                    <label for="case_title_code">Case Title Code</label>
                                </th>
                                <th>
                                    <label for="case_title_name">Case Title Name</label>
                                </th>
                                <th>
                                    <label for="case_title_descr">Case Title Description</label>
                                </th>
                                <th>
                                    <label for="case_title_status">Status</label>
                                </th>
                                <th>
                                    <label for="case_title_case_type_id">Case Type</label>
                                </th>
                                <th>
                                    <label for="action">Action</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CaseTitle_Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CaseTitle_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CaseTitle_Description)
                                    </td>
                                    @if (item.CaseTitle_Status == true)
                                    {
                                        <td>
                                            <span class="badge badge-success badge-font">
                                                Active
                                            </span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <span class="badge badge-danger badge-font">
                                                Deactive
                                            </span>
                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CaseType_Name)
                                    </td>
                                    <td>
                                        @if (item.CaseTitle_IsAuth == true)
                                        {
                                            <a href="@Url.Action("Casetitle", "Icore_Casetitle", new { title_id = FXAutomation.DAL.Encrypt(item.CaseTitle_Id.ToString()) })"
                                               data-toggle="tooltip" title="Edit @Html.DisplayFor(modelItem => item.CaseTitle_Name)" class="btn btn-outline-primary btn-sm">
                                                Edit
                                            </a>
                                        }
                                        @if (item.CaseTitle_MakerId != Session["USER_ID"].ToString() && item.CaseTitle_IsAuth == false)
                                        {
                                            <button type="button" value="@item.CaseTitle_Id" name="AuthorizeCaseTitle" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.CaseTitle_Name)" class="btn btn-outline-success btn-sm">
                                                <span class="fas fa-check"></span>
                                            </button>
                                            <button type="button" value="@item.CaseTitle_Id" name="DeleteFromAuthorizeCaseTitle" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.CaseTitle_Name)" class="btn btn-outline-danger btn-sm">
                                                <span class="fas fa-times"></span>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot class="citi-table-head">
                            <tr>
                                <th>
                                    <label for="case_title_code">Case Title Code</label>
                                </th>
                                <th>
                                    <label for="case_title_name">Case Title Name</label>
                                </th>
                                <th>
                                    <label for="case_title_descr">Case Title Description</label>
                                </th>
                                <th>
                                    <label for="case_title_status">Status</label>
                                </th>
                                <th>
                                    <label for="case_title_case_type_id">Case Name</label>
                                </th>
                                <th>
                                    <label for="action">Action</label>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
    }
}




