﻿
@{
    Layout = null;
}

<html lang="en">
<head>
    <title>Logout</title>
    <link href="~/Content/Dashboard/dist/css/adminlte.css" rel="stylesheet" />
    <link href="~/Content/Dashboard/dist/css/CustomCss.css" rel="stylesheet" />
</head>
<body>
    <br />
    <div class="card">
        <br />
        <div class="card citi-table-header">
            <br />
            <h1 class="text-center">You are logged out.</h1>
            <br />
        </div>
        <br />
    </div>

    <script src="~/Content/Dashboard/build/js/Logout.js"></script>
    <script src="~/Content/Dashboard/plugins/jquery/jquery.min.js"></script>
    <!-- Custom jQuery -->
    <!-- Bootstrap 4 -->
    <!-- SweetAlert2 -->
    <script src="~/Content/Dashboard/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/Content/Dashboard/plugins/toastr/toastr.min.js"></script>
    <script src="~/Content/Dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/Dashboard/plugins/select2/js/select2.full.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/Content/Dashboard/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Dashboard/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/Dashboard/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Dashboard/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/Dashboard/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/Dashboard/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
</body>
</html>