﻿@model IEnumerable<FXAutomation.Models.ICORE_CASE_DOCUMENTS_VIEW>

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card">
                <div class="card-header citi-table-head">
                    <h3 class="card-title">Previous Document</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!--#region Card-header -->
                <div class="card-body">
                    @foreach (var item in Model.Take(1))
                    {
                        var CountRows = Model.Count();
                        if (CountRows > 0)
                        {
                            <h3>Number of Documents : <b class="city-default-font-color">@CountRows</b></h3>
                        }
                        else
                        {
                            <h3>Number of Documents : <b class="city-default-font-color">0</b></h3>
                        }
                    }
                    <hr />
                    <div class="row">
                        @{ int no_of_row = 0;}
                        @foreach (var item in Model)
                        {
                            no_of_row += 1;

                            switch (item.Format_extension)
                            {
                                case "PDF":
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="exampleInputFile">@item.CASE_Doc_Data_ORDER_BY ) @item.Case_Doc_Name</label>
                                                    @if (item.Case_Doc_IsAD == true)
                                                    {
                                                        <strong class="text-red"> (For AD)</strong>
                                                    }
                                                    else
                                                    {
                                                        <strong class="city-default-font-color"> (For Client)</strong>
                                                    }
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="input-group  disabled">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" accept=".@item.Format_extension" id="@item.Case_Doc_Id">
                                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                                        </div>
                                                    </div>
                                                    <strong class="city-font-color">
                                                        <p>
                                                            @{ if (item.Case_Doc_IsRequired == true)
                                                                {
                                                                    <strong class="text-red">* @item.Case_Doc_Description is Required * </strong>
                                                                }
                                                                else
                                                                {
                                                                    <strong class="city-default-font-color">* @item.Case_Doc_Description is Optional </strong>
                                                                }
                                                            }
                                                            @{
                                                                if (item.Case_Doc_IsAuth == true)
                                                                {
                                                                    <button type="button" value="@item.Case_Doc_Id" name="DeleteCaseDocument" data-toggle="tooltip" title="Delete @Html.DisplayFor(modelItem => item.Case_Doc_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-trash"></span>
                                                                    </button>
                                                                    <a href="@Url.Action("CaseDocuments", "Icore_CaseDocument", new { docID = FXAutomation.DAL.Encrypt(item.Case_Doc_Id.ToString()) })" class="btn btn-outline-info float-right btn-sm" data-toggle="tooltip" title="Edit the @item.Case_Doc_Name"><span class="fas fa-edit"></span></a>
                                                                }
                                                                else if (item.Case_Doc_Data_MakerId != Session["USER_ID"].ToString() && item.Case_Doc_IsAuth == false)
                                                                {
                                                                    <button type="button" value="@item.Case_Doc_Id" name="AuthorizeCaseDocumet" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.Case_Doc_Name)" class="btn btn-outline-success float-right btn-sm">
                                                                        <span class="fas fa-check"></span>
                                                                    </button>
                                                                    <button type="button" value="@item.Case_Doc_Id" name="DeleteFromAuthorizeCaseDocumet" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.Case_Doc_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-times"></span>
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                <p class="Unauthozie-p">
                                                                    <b>Unauthorize</b>
                                                                </p>
                                                            }
                                                            }
                                                            </p>
                                                            <p class="text-red"><strong>"@item.Format_extension"</strong> Format Required !!</p>
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                        <br />
                                        break;
                                    case "Docx":
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label for="exampleInputFile">@item.CASE_Doc_Data_ORDER_BY ) @item.Case_Doc_Name</label>
                                                        @if (item.Case_Doc_IsAD == true)
                                                        {
                                                            <strong class="text-red"> (For AD)</strong>
                                                        }
                                                        else
                                                        {
                                                            <strong class="city-default-font-color"> (For Client)</strong>
                                                        }
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="input-group">
                                                            <div class="custom-file disabled">
                                                                <input type="file" class="custom-file-input" id="@item.Case_Doc_Id">
                                                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                                            </div>
                                                        </div>
                                                        <strong class="city-font-color">
                                                            @{ if (item.Case_Doc_IsRequired == true)
                                                                {
                                                                    <strong class="text-red">* @item.Case_Doc_Description is Required * </strong>
                                                                }
                                                                else
                                                                {
                                                                    <strong class="city-default-font-color">* @item.Case_Doc_Description is Optional </strong>
                                                                }
                                                            }
                                                            @{
                                                                if (item.Case_Doc_IsAuth == true)
                                                                {
                                                                    <button type="button" value="@item.Case_Doc_Id" name="DeleteCaseDocument" data-toggle="tooltip" title="Delete @Html.DisplayFor(modelItem => item.Case_Doc_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-trash"></span>
                                                                    </button>
                                                                    <a href="@Url.Action("CaseDocuments", "Icore_CaseDocument", new { docID = FXAutomation.DAL.Encrypt(item.Case_Doc_Id.ToString()) })" class="btn btn-outline-info float-right btn-sm" data-toggle="tooltip" title="Edit the @item.Case_Doc_Name"><span class="fas fa-edit"></span></a>
                                                                }
                                                                else if (item.Case_Doc_Data_MakerId != Session["USER_ID"].ToString() && item.Case_Doc_IsAuth == false)
                                                                {
                                                                    <button type="button" value="@item.Case_Doc_Id" name="AuthorizeCaseDocumet" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.Case_Doc_Name)" class="btn btn-outline-success float-right btn-sm">
                                                                        <span class="fas fa-check"></span>
                                                                    </button>
                                                                    <button type="button" value="@item.Case_Doc_Id" name="DeleteFromAuthorizeCaseDocumet" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.Case_Doc_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-times"></span>
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <p class="Unauthozie-p">
                                                                        <b>Unauthorize</b>
                                                                    </p>
                                                                }
                                                            }
                                                            <p class="text-red">"@item.Format_extension" Format Required !!</p>
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                        <br />
                                        break;
                                    case "xls":
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label for="exampleInputFile">@item.CASE_Doc_Data_ORDER_BY ) @item.Case_Doc_Name</label>
                                                        @if (item.Case_Doc_IsAD == true)
                                                        {
                                                            <strong class="text-red"> (For AD)</strong>
                                                        }
                                                        else
                                                        {
                                                            <strong class="city-default-font-color"> (For Client)</strong>
                                                        }
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="input-group disabled">
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="@item.Case_Doc_Id">
                                                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                                            </div>
                                                        </div>
                                                        <strong class="city-font-color">
                                                            @{ if (item.Case_Doc_IsRequired == true)
                                                                {
                                                                    <strong class="text-red">* @item.Case_Doc_Description is Required * </strong>
                                                                }
                                                                else
                                                                {
                                                                    <strong class="city-default-font-color">* @item.Case_Doc_Description is Optional </strong>
                                                                }
                                                            }
                                                            @{
                                                                if (item.Case_Doc_IsAuth == true)
                                                                {
                                                                    <button type="button" value="@item.Case_Doc_Id" name="DeleteCaseDocument" data-toggle="tooltip" title="Delete @Html.DisplayFor(modelItem => item.Case_Doc_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-trash"></span>
                                                                    </button>
                                                                    <a href="@Url.Action("CaseDocuments", "Icore_CaseDocument", new { docID = FXAutomation.DAL.Encrypt(item.Case_Doc_Id.ToString()) })" class="btn btn-outline-info float-right btn-sm" data-toggle="tooltip" title="Edit the @item.Case_Doc_Name"><span class="fas fa-edit"></span></a>
                                                                }
                                                                else if (item.Case_Doc_Data_MakerId != Session["USER_ID"].ToString() && item.Case_Doc_IsAuth == false)
                                                                {
                                                                    <button type="button" value="@item.Case_Doc_Id" name="AuthorizeCaseDocumet" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.Case_Doc_Name)" class="btn btn-outline-success float-right btn-sm">
                                                                        <span class="fas fa-check"></span>
                                                                    </button>
                                                                    <button type="button" value="@item.Case_Doc_Id" name="DeleteFromAuthorizeCaseDocumet" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.Case_Doc_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-times"></span>
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <p class="Unauthozie-p">
                                                                        <b>Unauthorize</b>
                                                                    </p>
                                                                }
                                                            }
                                                            <p class="text-red">"@item.Format_extension" Format Required!!</p>
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                        <br />
                                        break;
                                    default:
                                        break;
                                }
                            }
                    </div>
                </div>
            </div>
        }
    }
}

