﻿@model IEnumerable<FXAutomation.Models.ICORE_CLIENT_PORTFOLIO>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
<div class="card">
    <div class="card-header citi-table-head">
        <h3 class="card-title">Client List</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="citi-table-head">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact No#</th>
                    <th>IBAN</th>
                    <th>NTN</th>
                    <th>Company Name</th>
                    <th>Party Id</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CP_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CP_EMAIL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CP_CONTACT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CP_IBAN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CP_NTN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CP_COMPANY_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CP_PARTY_ID)
                        </td>
                        <td>
                            @if (item.CP_STATUS == "Active")
                            {
                                <p class="badge badge-success badge-font">Active</p>
                            }
                            else
                            {
                                <p class="badge badge-danger badge-font">Deactive</p>
                            }
                        </td>
                        <td>
                            @{
                                if (item.CP_ISAUTH == true)
                                {
                                    <a href="@Url.Action("Index", "CustomerProfile", new { CP = item.CP_ID })" class="btn btn-outline-primary btn-sm">Edit</a>
                                }
                                if (item.CP_MAKER_ID != Session["USER_ID"].ToString() && item.CP_ISAUTH == false)
                                {
                                    <button type="button" value="@item.CP_ID" name="AuthorizeClient" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.CP_NAME)" class="btn btn-outline-success btn-sm">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button type="button" value="@item.CP_ID" name="DeleteFromAuthorizeClient" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.CP_NAME)" class="btn btn-outline-danger btn-sm">
                                        <span class="fas fa-times"></span>
                                    </button>
                                }
                            }

                        </td>
                    </tr>
                }
            </tbody>
            <tfoot class="citi-table-head">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact No#</th>
                    <th>IBAN</th>
                    <th>NTN</th>
                    <th>Company Name</th>
                    <th>Party Id</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
    }
}

