﻿@model FXAutomation.Models.ICORE_CLIENT_PORTFOLIO
@{
    ViewBag.Title = "Manage Client";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Manage Client";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("Index", "CustomerProfile", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CP_ID)
    <div class="card">
        <div class="card-header citi-table-head">
            <h3 class="card-title">Manage Client's</h3>
            <div class="card-tools">
                <a href="@Url.Action("Index","CustomerProfile")" class="btn btn-primary btn-sm"><span class="fas fa-plus"> </span> Add New</a>
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Name")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CP_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name" } })
                            @Html.ValidationMessageFor(model => model.CP_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Email")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CP_EMAIL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email" } })
                            @Html.ValidationMessageFor(model => model.CP_EMAIL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Contact No")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CP_CONTACT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contact Number" } })
                            @Html.ValidationMessageFor(model => model.CP_CONTACT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("IBAN")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CP_IBAN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter IBAN" } })
                            @Html.ValidationMessageFor(model => model.CP_IBAN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("NTN")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CP_NTN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter NTN" } })
                            @Html.ValidationMessageFor(model => model.CP_NTN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Status")
                        <div class="dropdown">
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.CP_STATUS, new List<SelectListItem>
                            { new SelectListItem{Text="Active", Value="Active"},
                             new SelectListItem{Text="Deactive", Value="Deactive"}},"--Select Status--", new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.CP_STATUS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Party ID")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CP_PARTY_ID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Party ID" } })
                            @Html.ValidationMessageFor(model => model.CP_PARTY_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Company Name")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CP_COMPANY_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Company Name" } })
                            @Html.ValidationMessageFor(model => model.CP_COMPANY_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Brief Profile")
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.CP_BRIEF_PROFILE, new { @class = "form-control", @rows = "3", @placeholder = "Enter Brief Profile" })
                            @Html.ValidationMessageFor(model => model.CP_BRIEF_PROFILE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Address")
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.CP_ADDRESS, new { @class = "form-control", @rows = "3", @placeholder = "Enter Client's Address" })
                            @Html.ValidationMessageFor(model => model.CP_ADDRESS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary btn-sm" />
                </div>
            </div>
        </div>
    </div>
}
<div>
    @{
        Html.RenderAction("ClientView", "CustomerProfile");
    }
</div>
<div>
    @{
        Html.RenderAction("CustomerPortalLogs", "CustomerProfile");
    }
</div>