﻿
@{
    Layout = null;
    ViewBag.Title = "500-Internal Server Error";
}

<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Assets/Dashboard/dist/css/CustomStyle.css" rel="stylesheet" />
    <link href="~/Assets/Dashboard/dist/css/adminlte.css" rel="stylesheet" />
</head>
<body>
    <br />
    <div class="card">
        <div class="card-body">
            <div class="card text-center">
                <div class="card-body">
                    <h1><span class="text-danger">500 </span> Internal Server Error</h1>
                    <p>Internal Server Error</p>
                    <p>Some internal server error occur, please contact Administrator.</p>
                    <div class="buttons-con">
                        <div class="action-link-wrap">
                            <a href="@Url.Action("Index","dashboard")" class="btn btn-danger">Go to Home Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
