﻿@model FXAutomation.Models.ICORE_CASE_QUEUE
@{
    ViewBag.Title = "Queue Setup";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Queue Setup";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("Queue", "Setup", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CQ_ID)

    <div class="card">
        <div class="card-header citi-table-head">
            <h3 class="card-title">Manage Queue</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Queue Name")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CQ_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.CQ_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    @*<div class="form-group">
                        @Html.Label("Queue Emails")
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.CQ_TO_EMAIL, new { @class = "form-control", @rows = "5", @placeholder = "Enter Queue Email" })
                            @Html.ValidationMessageFor(model => model.CQ_TO_EMAIL, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary btn-sm" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @{
        Html.RenderAction("QueuesList", "Setup");
    }
</div>
