﻿@model IEnumerable<FXAutomation.Models.ICORE_CASE_QUEUE>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="card">
            <div class="card-header citi-table-head">
                <h3 class="card-title">Queues List</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered text-center table-hover">
                    <thead class="citi-table-head">
                        <tr>
                            <th>
                                @Html.Label("Queue Name")
                            </th>
                            @*<th>
                                @Html.Label("Queue Emails")
                            </th>*@
                            <th>
                                @Html.Label("Action")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CQ_NAME)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.CQ_TO_EMAIL)
                                </td>*@
                                <td>
                                    @{
                                        if (item.CQ_ISAUTH == true)
                                        {
                                            <a href="@Url.Action("Queue", "Setup", new { Q = item.CQ_ID })" data-toggle="tooltip" title="Edit @Html.DisplayFor(modelItem => item.CQ_NAME)" class="btn btn-outline-primary btn-sm">Edit</a>
                                        }
                                        if (item.CQ_MAKER_ID != Session["USER_ID"].ToString() && item.CQ_ISAUTH == false)
                                        {
                                            <button type="button" value="@item.CQ_ID" name="AuthozrizeQueue" data-toggle="tooltip" title="Authorize @item.CQ_NAME" class="btn btn-outline-success btn-sm">
                                                <span class="fas fa-check"></span>
                                            </button>
                                            <button type="button" value="@item.CQ_ID" name="RejectQueue" data-toggle="tooltip" title="Reject @item.CQ_NAME" class="btn btn-outline-danger btn-sm">
                                                <span class="fas fa-times"></span>
                                            </button>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot class="citi-table-head">
                        <tr>
                            <th>
                                @Html.Label("Queue Name")
                            </th>
                            @*<th>
                                @Html.Label("Queue Emails")
                            </th>*@
                            <th>
                                @Html.Label("Action")
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    }
}