﻿@model IEnumerable<FXAutomation.Models.ICORE_SYSTEM_SETUP>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="card">
            <div class="card-header citi-table-head">
                <h3 class="card-title">System Setup List</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered text-center table-hover">
                    <thead class="citi-table-head">
                        <tr>
                            <th>@Html.Label("Action")</th>
                            @*<th>@Html.Label("Hash")</th>*@
                            <th>@Html.Label("Web File View Domain")</th>
                            <th>@Html.Label("Client File View Domain")</th>
                            <th>@Html.Label("EPF Portal Frame Src")</th>
                            <th>@Html.Label("EPF Portal URI")</th>
                            <th>@Html.Label("Home Redirect URL")</th>
                            <th>@Html.Label("Proxy Signin URL")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("SystemSetup", "Setup", new { S = item.SS_ID })" data-toggle="tooltip" title="Edit Record" class="btn btn-outline-primary btn-sm">Edit</a>
                                </td>
                                @*<td data-toggle="tooltip" title="@Html.DisplayFor(modelItem => item.SS_HASH)">
                                    @Html.DisplayFor(modelItem => item.SS_HASH)
                                </td>*@
                                <td data-toggle="tooltip" title="@Html.DisplayFor(modelItem => item.SS_DOMAIN_FOR_WEB)">
                                    @Html.DisplayFor(modelItem => item.SS_DOMAIN_FOR_WEB)
                                </td>
                                <td data-toggle="tooltip" title="@Html.DisplayFor(modelItem => item.SS_DOMAIN_FOR_CLIENT)">
                                    @Html.DisplayFor(modelItem => item.SS_DOMAIN_FOR_CLIENT)
                                </td>
                                <td data-toggle="tooltip" title="@Html.DisplayFor(modelItem => item.SS_EPF_PORTAL_FRAME_SOURCE)">
                                    @Html.DisplayFor(modelItem => item.SS_EPF_PORTAL_FRAME_SOURCE)
                                </td>
                                <td data-toggle="tooltip" title="@Html.DisplayFor(modelItem => item.SS_EPF_PORTAL_URI)">
                                    @Html.DisplayFor(modelItem => item.SS_EPF_PORTAL_URI)
                                </td>
                                <td data-toggle="tooltip" title="@Html.DisplayFor(modelItem => item.SS_URL_FOR_HOME_REDIRECT)">
                                    @Html.DisplayFor(modelItem => item.SS_URL_FOR_HOME_REDIRECT)
                                </td>
                                <td data-toggle="tooltip" title="@Html.DisplayFor(modelItem => item.SS_PROXY_SIGNIN_URL)">
                                    @Html.DisplayFor(modelItem => item.SS_PROXY_SIGNIN_URL)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}