﻿@model FXAutomation.Models.ICORE_SYSTEM_SETUP
@{
    ViewBag.Title = "System Setup";
    ViewBag.Controller = "Home";
    ViewBag.Action = "System Setup";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("SystemSetup", "Setup", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SS_ID)

    <div class="card">
        <div class="card-header citi-table-head">
            <h3 class="card-title">System Setup</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                @*<div class="col-md-6">
            <div class="form-group">
                @Html.Label("Admin Password")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SS_HASH, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Enter Admin Password" } })
                    <span class="show-password">Show</span>
                    <span class="hide-password">hide</span>
                    @Html.ValidationMessageFor(model => model.SS_HASH, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Domain for Web")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SS_DOMAIN_FOR_WEB, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Domain for Web" } })
                            @Html.ValidationMessageFor(model => model.SS_DOMAIN_FOR_WEB, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Domain for Client")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SS_DOMAIN_FOR_CLIENT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Domain for Client" } })
                            @Html.ValidationMessageFor(model => model.SS_DOMAIN_FOR_CLIENT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("EPF Portal Frame Source")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SS_EPF_PORTAL_FRAME_SOURCE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter EPF Portal Frame Source" } })
                            @Html.ValidationMessageFor(model => model.SS_EPF_PORTAL_FRAME_SOURCE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("EPF Portal URI")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SS_EPF_PORTAL_URI, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter EPF Portal URI" } })
                            @Html.ValidationMessageFor(model => model.SS_EPF_PORTAL_URI, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("URL for Home Redirect")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SS_URL_FOR_HOME_REDIRECT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter URL for Home Redirect" } })
                            @Html.ValidationMessageFor(model => model.SS_URL_FOR_HOME_REDIRECT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Proxy Signin URL")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SS_PROXY_SIGNIN_URL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Proxy Signin URL" } })
                            @Html.ValidationMessageFor(model => model.SS_PROXY_SIGNIN_URL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
    <div>
        @{
            Html.RenderAction("SystemSetupList", "Setup");
        }
    </div>
}
