﻿@model FXAutomation.Models.ICORE_LOGIN_VIEW_CUSTOM

@{
    Layout = null;
    ViewBag.Title = "Login";

    if (ViewBag.message == "Logged In Successfully !" && ViewBag.message != null)
    {
        <div class="alert alert-success text-center" role="alert">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.message != "Logged In Successfully !" && ViewBag.message != null)
    {
        <div class="alert alert-warning text-center" role="alert">
            @ViewBag.message
        </div>
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/Dashboard/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Assets/Dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/Dashboard/dist/css/adminlte.min.css">
    <link href="~/Assets/Dashboard/dist/css/CustomCSS.css" rel="stylesheet" />
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/Assets/Dashboard/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
</head>
<body class="hold-transition login-page">
    <div class="page_loader"></div>

    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="@Url.Action("Index","Login")" class="h1"><img src="~/Assets/Dashboard/dist/img/Citibank_logo.jpg" height="70" width="100" alt="Citi Logo" /></a>
            </div>
            <div class="card-header text-center">
                <p class="heading-FX">FXAUTOMATION</p>
                <p class="Version-Text">Version 1.2.4</p>
            </div>
            <div class="card-body">
                <p class="Custom-Login-Font text-center">Sign in to start your session</p>

                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.LOG_ID)

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="input-group mb-3">
                        @Html.DropDownListFor(model => model.DOMAIN_NAME, new List<SelectListItem>
                                             { new SelectListItem{Text="EUR", Value="EUR"},
                                              new SelectListItem{Text="APAC", Value="APAC"},
                                              new SelectListItem{Text="NAM", Value="NAM"}},"--Select Domain--", new { @class = "form-control select2 select2-primary" })
                    </div>
                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.LOG_USER_ID, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Enter User Name", @autocomplete = "off" } })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.LOG_HASH, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Enter Password", @autocomplete = "off" } })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" id="Login-Button" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }
                <!-- /.social-auth-links -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- External JS libraries -->
    <script src="~/Assets/Login/js/Custom.js"></script>
    <!-- jQuery -->
    <script src="~/Assets/Dashboard/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Assets/Dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <!-- SweetAlert2 -->
    <script src="~/Assets/Dashboard/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Assets/Dashboard/dist/js/adminlte.min.js"></script>
    <!-- Custom JS Script -->
</body>
</html>