﻿@model FXAutomation_Client_Portal.Models.EditSavedForm

@{
    ViewBag.Title = "Saved Draft";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Saved Draft";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
@{
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>

    }
}
        <a href="@Url.Action("SubmittedCaseFormDarft","Case_Submission_Form_Draft")" class="btn btn-outline-success"><span class="fas fa-undo"></span> Back</a>
        <hr />
@using (Html.BeginForm("EditSavedFieldsDraft", "Case_Submission_Form_Draft", FormMethod.Post))
{
    var FormID = Model.Master.SCFMD_ID;
    <div id="EditSavedDraft">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Master.SCFMD_ID)

        <div class="card card-success card-success">
            <div class="card-header">
                <h3 class="card-title">Saved Form</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <!--#region Form Name-->
                @foreach (var item in Model.FieldList.Take(1))
                {
                    <h1 class="text-center custom-font-family">Form : <span class="text-uppercase text-success">@item.CaseForm_Name</span></h1>
                }
                <hr />
                <p class="list">Fileds with <span class="text-red"><b>*</b></span> are required.</p>
                <hr />
                <!--#endregion-->
                <div class="row">
                    @{
                        int currentrow = 0;
                    }
                    @foreach (var item in Model.FieldList)
                    {
                        currentrow += 1;
                        string FieldId = "ctrlfrmsub" + item.CaseForm_Field_Name.Replace(" ", "").Substring(0, 3).ToString() + item.SCFDD_FIELD_ID;
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    @{
                                        if (item.CaseForm_Field_IsRequired == true)
                                        {
                                            <label><span class="text-red">*</span> @item.CaseForm_Field_Name</label>
                                        }
                                        else
                                        {
                                            <label>@item.CaseForm_Field_Name</label>
                                        }
                                        @*<label>@item.CaseForm_Field_Name</label>*@
                                    }
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(modelItem => item.SCFDD_FIELD_VALUE, new { htmlAttributes = new { @class = "form-control", @id = FieldId, @maxlength = item.CaseForm_Data_MAX_LENGTH } })
                                    <strong class="city-default-font-color">
                                        Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                        @{ if (item.CaseForm_Field_IsRequired == true)
                                            {
                                                <span class="text-red">* Required * </span>
                                            }
                                        }
                                    </strong>
                                </div>
                            </div>
                            <hr />
                        </div>
                    }
                </div>
                <h1 class="custom-font-family">Attached Documents</h1>
                <hr />
                <p class="list">Documents with <span class="text-red"><b>*</b></span> are required.</p>
                <p class="list">Document Names should be of naming convention: <Document Name>.pdf e.g for Cover Letter, name should be "Cover Letter.pdf"</p>
                <p class="list">Document Names should not contain any special characters i.e & # + % \ / : * ? "</p>
                <p class="list">Only PDF extention is allowed. (For additional documents doc, docx, xls, xlsx, pdf, txt, csv, ppt, pptx extensions are allowed)</p>
                <p class="list">Documents size should not exceed 5MB.</p>
                <hr />
                <div class="row" id="SavedDocument">
                    @{
                        int no_of_row = 0;
                    }
                    @foreach (var item in Model.DocumentList)
                    {
                        no_of_row += 1;
                        string DocId = "ctrldocsub" + item.Case_Doc_Name.Replace(" ", "").Substring(0, 3).ToString() + item.SCDD_DOCUMENT_ID;
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    @{
                                        if (item.Case_Doc_IsRequired == true)
                                        {
                                            <label><span class="text-red">*</span> @item.Case_Doc_Name</label>
                                        }
                                        else
                                        {
                                            <label>@item.Case_Doc_Name</label>
                                        }
                                        @*<label>@item.Case_Doc_Name</label>*@
                                    }
                                </div>
                                <div class="col-md-8">
                                    <input type="file" class="form-control draft-table-head" id="@DocId" accept=".@item.Format_extension">
                                </div>
                                <div class="col-md-2">
                                    @{
                                        int ix = -1;
                                        if (item.SCDD_DOCUMENT_VALUE != null)
                                        {
                                            ix = item.SCDD_DOCUMENT_VALUE.IndexOf("Draft_Uploads");
                                        }
                                        if (ix != -1)
                                        {
                                            <a href="@Url.Action("ViewFile","Case_Submission_Form_Draft", new { ID = item.SCDD_ID})" target="_blank" class="btn btn-outline-success" title="View @item.Case_Doc_Name file" data-toggle="tooltip">
                                                <span class="fas fa-file"></span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn btn-outline-success disabled"> <span class="fas fa-file"></span></a>
                                        }
                                    }
                                </div>
                            </div>
                            <hr />
                        </div>
                    }
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @*<input type="button" onclick="EditSavedDraft(@FormID)" value="Save" class="btn btn-outline-success" />*@
                        <button type="button" value="@FormID" class="btn btn-outline-success" name="EditSavedDraft">
                            Save
                        </button>
                        <button type="button" value="@FormID" class="btn btn-outline-success" name="SubmitDraftToCase">
                            Submit In Cases
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}