﻿@model IEnumerable<FXAutomation_Client_Portal.Models.ICORE_SUBMIT_CASE_FORM_FIELD_MASTER_DRAFT_VIEW>
@{
    ViewBag.Title = "Case Submission Form";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Case Submission Forms";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Case Form Draft</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered text-center table-hover">
            <thead class="draft-table-head">
                <tr>
                    <th>
                        Form Name
                    </th>
                    <th>
                        Case Number
                    </th>
                    <th>
                        Case Status Date
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CaseForm_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SCFMD_CASE_NO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SCFMD_STATUS_DATE)
                        </td>
                        <td>
                            <button type="button" value="sp_@item.SCFMD_ID _@item.SCFMD_CASE_FORM_ID" class="btn btn-outline-success" name="ViewSubmittedForm_Draft" data-toggle="modal" data-target="#modal-xl" title="View @item.CaseForm_Name">
                                <span class="fas fa-eye"></span>
                            </button>
                            <a href="@Url.Action("EditSavedFieldsDraft", "Case_Submission_Form_Draft", new { Form_Id = item.SCFMD_ID })" class="btn btn-outline-success" data-toggle="tooltip" title="Edit @Html.DisplayFor(modelItem => item.CaseForm_Name)"><span class="fas fa-pen"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-xl">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Submitted Form</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="SubmittedCaseFormFieldsDraft"></div>
                
                <div id="SubmittedCaseDocumentDraft"></div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                <h4><b>FX</b> Digitalization</h4>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>