﻿@model IEnumerable<FXAutomation_Client_Portal.Models.ICORE_SUBMIT_CASE_FORM_FIELD_MASTER_DRAFT_VIEW>

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card card-primary card-outline">
                <div class="card-header" style="background-color:#003b70">
                    <h3 class="card-title">Submitted Form Draft</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered text-center table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Form Name
                                </th>
                                <th>
                                    Case Number
                                </th>
                                <th>
                                    Case Status
                                </th>
                                <th>
                                    Case Status Date
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CaseForm_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SCFMD_CASE_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SCFMD_STATUS)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SCFMD_STATUS_DATE)
                                    </td>
                                    <td>
                                        @*<input type="button" value="View" class="btn btn-outline-primary" onclick="ViewSubmittedFormClick()" />*@
                                        <a href="#" class="btn btn-outline-primary" onclick="ViewSubmittedFormClick(@item.SCFMD_ID, @item.SCFMD_CASE_FORM_ID)" data-toggle="modal" data-target="#modal-xl">
                                            View
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
}