﻿@model FXAutomation.Models.ICORE_REGIONS_VIEW

@{
    ViewBag.Title = "Regions";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Case Regions";
}
@{
    if (ViewBag.messeage != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.messeage
        </div>

    }
}
@using (Html.BeginForm("Regions", "Icore_Region", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Reg_Id);

    <center>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Case_title">Select Case Title</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Reg_CaseTitleId, null, new { @class = "form-control select2 select2-primary", required = (string)null })
                    @Html.ValidationMessageFor(model => model.Reg_CaseTitleId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </center>
    <div class="card">
        <div class="card-header citi-table-head">
            <h3 class="card-title">Region</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="reg_name">Region Name</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Reg_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Region Name" } })
                            @Html.ValidationMessageFor(model => model.Reg_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="reg_code">Region Code</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Reg_Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Region Code" } })
                            @Html.ValidationMessageFor(model => model.Reg_Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="reg_status">Status</label>
                        <div class="col-md-10">
                            <div class="dropdown">
                                @Html.DropDownListFor(model => model.Reg_Status, new List<SelectListItem>
                                 { new SelectListItem{Text="Active", Value="true"},
                                  new SelectListItem{Text="Deactive", Value="false"}},"--Select Status--", new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.Reg_Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary btn-sm" />
                </div>
            </div>
        </div>
    </div>
    //if (Model != null)
    //{
    //    if (Model.Reg_CaseTitleId != null)
    //    {
    //        Html.RenderAction("reg_grid", "Icore_Region", new { CaseTitle_ID = Model.Reg_CaseTitleId });
    //    }
    //}
    // Call Partial view on ajax call
}
    <div id="divPartialView">

    </div>