﻿@model FXAutomation.Models.ICORE_CASE_FORMS_DETAILS_VIEW

@{
    ViewBag.Title = "CaseForm";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Case Forms";
}

@{
    if (ViewBag.messeage != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.messeage
        </div>
    }
}


@using (Html.BeginForm("CaseForm_Fields", "Icore_CaseForm"))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.CaseForm_Field_Id)
    @Html.HiddenFor(m => m.CaseForm_FormId)
    @Html.HiddenFor(m => m.Lookup_Data_Id)
    <!--Case Fields start from here-->
    <div class="row">
        <div class="col-md-1">
            <a href="@Url.Action("CaseForm","Icore_CaseForm")" class="btn btn-outline-success btn-sm"><i class="fas fa-undo"> </i> Back</a>
        </div>
        <div class="col-md-11">
            <h1>Form : <span class="text-uppercase city-default-font-color">@Model.CaseForm_Name</span></h1>
        </div>
    </div>
    <div class="card">
        <div class="card-header citi-table-head">
            <h3 class="card-title">Manage Form Fields</h3>
            <div class="card-tools">
                <a href="@Url.Action("CaseForm_Fields","Icore_CaseForm",new {form_ID = FXAutomation.DAL.Encrypt(Model.CaseForm_FormId.ToString()) })" class="btn btn-primary btn-sm"><span class="fas fa-plus"></span> New Field</a>
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="caseform_fieldname">Form Field Name</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CaseForm_Field_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Field Name" } })
                            @Html.ValidationMessageFor(model => model.CaseForm_Field_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="caseform_filed_des">Form Field Description</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.CaseForm_Field_Description, new { @class = "form-control", @placeholder = "Enter Field Description" })
                            @Html.ValidationMessageFor(model => model.CaseForm_Field_Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="caseform_fieldname">Form Field Minimum Length</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CaseForm_Data_MIN_LENGTH, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Minimum Length" } })
                            @Html.ValidationMessageFor(model => model.CaseForm_Data_MIN_LENGTH, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="caseform_filed_des">Form Field Maximum Length</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CaseForm_Data_MAX_LENGTH, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Field Maximum Length" } })
                            @Html.ValidationMessageFor(model => model.CaseForm_Data_MAX_LENGTH, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="caseform_data_lenght">From Field Order No</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CaseForm_Data_ORDER_BY, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Order No" } })
                            @Html.ValidationMessageFor(model => model.CaseForm_Data_ORDER_BY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="caseform_filed_status">Form Field Status</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.DropDownListFor(model => model.CaseForm_Field_Status, new List<SelectListItem>
                                { new SelectListItem{Text="Active", Value="true"},
                                 new SelectListItem{Text="Deactive", Value="false"}},"--Select Status--", new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.CaseForm_Field_Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="datatype_name">Select Data Type</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.CaseForm_DataTypeId, null, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.DataType_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label class="text-transparent">.</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.CaseForm_Field_IsRequired)
                                @Html.Label("Is Require")
                                @Html.ValidationMessageFor(model => model.CaseForm_Field_IsRequired, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="text-transparent">.</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.CaseForm_Filed_IsAD, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.Label("Is AD")
                                @Html.ValidationMessageFor(model => model.CaseForm_Filed_IsAD, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row Display-None" id="CaseForm_Field_LookupSettings">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="datatype_name">Add Data For Drop Down</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Lookup_Value, new { @class = "form-control", @rows = "5", @placeholder = "Enter Field Data Values For Drop Down" })
                                @Html.ValidationMessageFor(model => model.Lookup_Value, "", new { @class = "text-danger" })
                            </div>
                            <p class="text-green">
                                <strong class="text-red">*</strong> Use ,(comma) after every value
                                <strong>example "value1 , value2 , etc..."</strong>
                            </p>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                        <div class="form-group">
                            <label for="datatype_name">Add Data Text For Drop Down</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Lookup_Text, new { @class = "form-control", @rows = "5", @placeholder = "Enter Field Data Text For Drop Down" })
                                @Html.ValidationMessageFor(model => model.Lookup_Text, "", new { @class = "text-danger" })
                            </div>
                            <p class="text-green">
                                <strong class="text-red">*</strong> Use ,(comma) after every value
                                <strong>example "value1 , value2 , etc..."</strong>
                            </p>
                        </div>
                    </div>*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" class="btn btn-outline-primary btn-sm" value="Submit" />
                </div>
            </div>

        </div>
    </div>
    <!--Case Fields end from here-->
}

<div>
    @{
        Html.RenderAction("CaseFormView", "Icore_CaseForm", new { FormId = Model.CaseForm_FormId });
    }
</div>