﻿@model FXAutomation.Models.ICORE_CASE_FORMS_DETAILS_VIEW
@{
    ViewBag.Title = "CaseForm";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Case Forms";
}
@{
    if (ViewBag.messeage != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.messeage
        </div>
    }
}
@using (Html.BeginForm("CaseForm", "Icore_CaseForm", FormMethod.Post, new { @name = "FrmCaseForm" }))
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(m => m.CaseForm_FormId)

    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="case_form_case_type">Select Case Type</label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.CaseForm_CaseType_Id, null, new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.CaseForm_CaseType_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="case_form_case_type">Select Case Title</label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.CaseForm_CaseTitle_Id, null, new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.CaseForm_CaseTitle_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header citi-table-head">
            <h3 class="card-title">Manage Case Form</h3>
            <div class="card-tools">
                <a href="@Url.Action("CaseForm", "Icore_CaseForm")" class="btn btn-primary btn-sm"><span class="fas fa-plus"></span> New Form</a>
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="case_form_name">Case Form Name</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CaseForm_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Case Form Name" } })
                            @Html.ValidationMessageFor(model => model.CaseForm_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="case_form_name">Case Form Status</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.DropDownListFor(model => model.CaseForm_Status, new List<SelectListItem>
                                { new SelectListItem{Text="Active", Value="true"},
                                 new SelectListItem{Text="Deactive", Value="false"}},"--Select Status--", new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.CaseForm_Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="case_form_desc">Case Form Description</label>
                        <div class="col-md-11">
                            @Html.TextAreaFor(model => model.CaseForm_Description, new { @class = "form-control", @rows = "5", @placeholder = "Enter Case Form Description" })
                            @Html.ValidationMessageFor(model => model.CaseForm_Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" class="btn btn-outline-primary btn-sm" value="Submit" />
                </div>
            </div>
            <!-- /.Case Form End -->
        </div>
    </div>
}
<!-- Case Form View on ajax call -->
<div id="CaseFormPartialView">

</div>