﻿@model IEnumerable<FXAutomation.Models.ICORE_CASE_FORMS_MASTER>

@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card">
                <div class="card-header citi-table-head">
                    <h3 class="card-title">Forms List</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered text-center table-hover">
                        <thead class="citi-table-head">
                            <tr>
                                <th>
                                    <label for="master_form_name">Form Name</label>
                                </th>
                                <th>
                                    <label for="master_description">Form Description</label>
                                </th>
                                <th>
                                    <label for="master_status">Form Status</label>
                                </th>
                                <th>
                                    <label for="action_btn">Action</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CaseForm_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CaseForm_Description)
                                    </td>
                                    <td>
                                        @{
                                            if (item.CaseForm_Status == true)
                                            {
                                                <p class="badge badge-success badge-font">Active</p>
                                            }
                                            else
                                            {
                                                <p class="badge badge-danger badge-font">Deactive</p>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @{
                                            if (item.CaseForm_IsAuth == true)
                                            {
                                                <a href="@Url.Action("CaseForm", "Icore_CaseForm", new { form_ID = FXAutomation.DAL.Encrypt(item.CaseForm_Id.ToString()) })" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" title="Edit @Html.DisplayFor(modelItem => item.CaseForm_Name)"> Edit</a>
                                                <a href="@Url.Action("CaseForm_Fields", "Icore_CaseForm", new { form_ID = FXAutomation.DAL.Encrypt(item.CaseForm_Id.ToString()) })" class="btn btn-outline-info btn-sm" data-toggle="tooltip" title="Manage @Html.DisplayFor(modelItem => item.CaseForm_Name)"> Manage Form</a>
                                                @*<button type="button" value="@item.CaseForm_Id" name="DeleteMasterNDetail_Data" data-toggle="tooltip" title="Edit @Html.DisplayFor(modelItem => item.CaseForm_Name)" class="btn btn-outline-danger btn-sm">
                                                    <span class="fas fa-trash"></span>
                                                </button>*@
                                            }
                                            else if (item.CaseForm_IsAuth == false && item.CaseForm_MakerId != Session["USER_ID"].ToString())
                                            {
                                                <button type="button" value="@item.CaseForm_Id" name="Authorize_CaseForm" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.CaseForm_Name)" class="btn btn-outline-success btn-sm">
                                                    <span class="fas fa-check"></span>
                                                </button>
                                                <button type="button" value="@item.CaseForm_Id" name="DeleteFromAuthorize_CaseForm" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.CaseForm_Name)" class="btn btn-outline-danger btn-sm">
                                                    <span class="fas fa-times"></span>
                                                </button>
                                            }
                                            else
                                            {
                                                <p style="color:red; font-family:Candara">
                                                    <b>Unauthorize</b>
                                                </p>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot class="citi-table-head">
                            <tr>
                                <th>
                                    <label for="master_form_name">Form Name</label>
                                </th>
                                <th>
                                    <label for="master_description">Form Description</label>
                                </th>
                                <th>
                                    <label for="master_status">Form Status</label>
                                </th>
                                <th>
                                    <label for="action_btn">Action</label>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
    }
}
