﻿@model IEnumerable<FXAutomation.Models.ICORE_CASE_FORMS_DETAILS_VIEW>
@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card">
                <div class="card-header citi-table-head">
                    <h3 class="card-title">Form Fields View</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @foreach (var item in Model.Take(1))
                    {
                        var CountRows = Model.Count();
                        if (CountRows > 0)
                        {
                            <h3>Number of Fields : <b class="city-default-font-color">@CountRows</b></h3>
                        }
                        else
                        {
                            <h3>Number of Fields : <b class="city-default-font-color">0</b></h3>
                        }
                    }
                    <hr />
                    <div class="row">

                        @{ int currentrow = 0;}
                        @foreach (var item in Model)
                        {
                            currentrow += 1;

                            switch (item.DataType_Name)
                            {
                                case "VARCHAR":
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="dep_name">@item.CaseForm_Data_ORDER_BY ) @item.CaseForm_Field_Name</label>
                                                    <br />
                                                    @if (item.CaseForm_Filed_IsAD == true)
                                                    {
                                                        <strong class="text-red"> (For AD)</strong>
                                                    }
                                                    else
                                                    {
                                                        <strong class="city-default-font-color"> (For Client)</strong>
                                                    }
                                                </div>
                                                <div class="col-md-10">
                                                    <input type="text" id="@item.CaseForm_Field_Id" class="form-control" min="@item.CaseForm_Data_MIN_LENGTH" maxlength="@item.CaseForm_Data_MAX_LENGTH" />
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <strong class="city-default-font-color">
                                                                Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                                    {
                                                                        <strong class="text-red">* Required * </strong>
                                                                    }
                                                                }
                                                            </strong>
                                                        </div>
                                                        <div class="col-md-4 float-right btn-sm">
                                                            @{
                                                                if (item.CaseForm_Field_IsAuth == true)
                                                                {
                                                                    <button type="button" value="@item.CaseForm_Field_Id" name="DeleteFormDetailFieldData" data-toggle="tooltip" title="Delete @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-trash"></span>
                                                                    </button>
                                                                    <a href="@Url.Action("CaseForm_Fields", "Icore_CaseForm", new { form_ID = FXAutomation.DAL.Encrypt(item.CaseForm_FormId.ToString()), field_ID = FXAutomation.DAL.Encrypt(item.CaseForm_Field_Id.ToString()) })" class="btn btn-outline-info float-right btn-sm" data-toggle="tooltip" title="Edit @item.CaseForm_Field_Name"><span class="fas fa-edit"></span></a>
                                                                }
                                                                else if (item.CaseForm_Field_MakerId != Session["USER_ID"].ToString() && item.CaseForm_Field_IsAuth == false)
                                                                {
                                                                    <button type="button" value="@item.CaseForm_Field_Id" name="Authorize_CaseFormDetail" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-success float-right btn-sm">
                                                                        <span class="fas fa-check"></span>
                                                                    </button>
                                                                    <button type="button" value="@item.CaseForm_Field_Id" name="DeleteFromAuthorizeCaseFormDetail" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-times"></span>
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <p class="Unauthozie-p">
                                                                        <b>Unauthorize</b>
                                                                    </p>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                    break;
                                case "NUMERIC":
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="dep_name">@item.CaseForm_Data_ORDER_BY ) @item.CaseForm_Field_Name</label>
                                                    <br />
                                                    @if (item.CaseForm_Filed_IsAD == true)
                                                    {
                                                        <strong class="text-red"> (For AD)</strong>
                                                    }
                                                    else
                                                    {
                                                        <strong class="city-default-font-color"> (For Client)</strong>
                                                    }
                                                </div>
                                                <div class="col-md-10">
                                                    <input type="number" id="@item.CaseForm_Field_Id" class="form-control" min="@item.CaseForm_Data_MIN_LENGTH" maxlength="@item.CaseForm_Data_MAX_LENGTH" />
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <strong class="city-default-font-color">
                                                                Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                                    {
                                                                        <strong class="text-red">* Required * </strong>
                                                                    }
                                                                }
                                                            </strong>
                                                        </div>
                                                        <div class="col-md-4 float-right btn-sm">
                                                            @{
                                                                if (item.CaseForm_Field_IsAuth == true)
                                                                {
                                                                    <button type="button" value="@item.CaseForm_Field_Id" name="DeleteFormDetailFieldData" data-toggle="tooltip" title="Delete @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-trash"></span>
                                                                    </button>
                                                                    <a href="@Url.Action("CaseForm_Fields", "Icore_CaseForm", new { form_ID = FXAutomation.DAL.Encrypt(item.CaseForm_FormId.ToString()), field_ID = FXAutomation.DAL.Encrypt(item.CaseForm_Field_Id.ToString()) })" class="btn btn-outline-info float-right btn-sm" data-toggle="tooltip" title="Edit @item.CaseForm_Field_Name"><span class="fas fa-edit"></span></a>
                                                                }
                                                                else if (item.CaseForm_Field_MakerId != Session["USER_ID"].ToString() && item.CaseForm_Field_IsAuth == false)
                                                                {
                                                                    <button type="button" value="@item.CaseForm_Field_Id" name="Authorize_CaseFormDetail" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-success float-right btn-sm">
                                                                        <span class="fas fa-check"></span>
                                                                    </button>
                                                                    <button type="button" value="@item.CaseForm_Field_Id" name="DeleteFromAuthorizeCaseFormDetail" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-times"></span>
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <p class="Unauthozie-p">
                                                                        <b>Unauthorize</b>
                                                                    </p>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                    break;
                                case "DATETIME":
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="dep_name">@item.CaseForm_Data_ORDER_BY ) @item.CaseForm_Field_Name</label>
                                                    <br />
                                                    @if (item.CaseForm_Filed_IsAD == true)
                                                    {
                                                        <strong class="text-red"> (For AD)</strong>
                                                    }
                                                    else
                                                    {
                                                        <strong class="city-default-font-color"> (For Client)</strong>
                                                    }
                                                </div>
                                                <div class="col-md-10">
                                                    <input type="date" id="@item.CaseForm_Field_Id" class="form-control" />
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <strong class="city-default-font-color">
                                                                Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                                    {
                                                                        <strong class="text-red">* Required * </strong>
                                                                    }
                                                                }
                                                            </strong>
                                                        </div>
                                                        <div class="col-md-4 float-right btn-sm">
                                                            @{
                                                                if (item.CaseForm_Field_IsAuth == true)
                                                                {
                                                                    <button type="button" value="@item.CaseForm_Field_Id" name="DeleteFormDetailFieldData" data-toggle="tooltip" title="Delete @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-trash"></span>
                                                                    </button>
                                                                    <a href="@Url.Action("CaseForm_Fields", "Icore_CaseForm", new { form_ID = FXAutomation.DAL.Encrypt(item.CaseForm_FormId.ToString()), field_ID = FXAutomation.DAL.Encrypt(item.CaseForm_Field_Id.ToString()) })" class="btn btn-outline-info float-right btn-sm" data-toggle="tooltip" title="Edit @item.CaseForm_Field_Name"><span class="fas fa-edit"></span></a>
                                                                }
                                                                else if (item.CaseForm_Field_MakerId != Session["USER_ID"].ToString() && item.CaseForm_Field_IsAuth == false)
                                                                {
                                                                    <button type="button" value="@item.CaseForm_Field_Id" name="Authorize_CaseFormDetail" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-success float-right btn-sm">
                                                                        <span class="fas fa-check"></span>
                                                                    </button>
                                                                    <button type="button" value="@item.CaseForm_Field_Id" name="DeleteFromAuthorizeCaseFormDetail" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-times"></span>
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <p class="Unauthozie-p">
                                                                        <b>Unauthorize</b>
                                                                    </p>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                    break;
                                case "NVARCHAR":
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="dep_name">@item.CaseForm_Data_ORDER_BY ) @item.CaseForm_Field_Name</label>
                                                    <br />
                                                    @if (item.CaseForm_Filed_IsAD == true)
                                                    {
                                                        <strong class="text-red"> (For AD)</strong>
                                                    }
                                                    else
                                                    {
                                                        <strong class="city-default-font-color"> (For Client)</strong>
                                                    }
                                                </div>
                                                <div class="col-md-10">
                                                    <input type="text" id="@item.CaseForm_Field_Id" class="form-control" min="@item.CaseForm_Data_MIN_LENGTH" maxlength="@item.CaseForm_Data_MAX_LENGTH" />
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <strong class="city-default-font-color">
                                                                Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                                    {
                                                                        <strong class="text-red">* Required * </strong>
                                                                    }
                                                                }
                                                            </strong>
                                                        </div>
                                                        <div class="col-md-4 float-right btn-sm">
                                                            @{
                                                                if (item.CaseForm_Field_IsAuth == true)
                                                                {
                                                                    <button type="button" value="@item.CaseForm_Field_Id" name="DeleteFormDetailFieldData" data-toggle="tooltip" title="Delete @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-trash"></span>
                                                                    </button>
                                                                    <a href="@Url.Action("CaseForm_Fields", "Icore_CaseForm", new { form_ID = FXAutomation.DAL.Encrypt(item.CaseForm_FormId.ToString()), field_ID = FXAutomation.DAL.Encrypt(item.CaseForm_Field_Id.ToString()) })" class="btn btn-outline-info float-right btn-sm" data-toggle="tooltip" title="Edit @item.CaseForm_Field_Name"><span class="fas fa-edit"></span></a>
                                                                }
                                                                else if (item.CaseForm_Field_MakerId != Session["USER_ID"].ToString() && item.CaseForm_Field_IsAuth == false)
                                                                {
                                                                    <button type="button" value="@item.CaseForm_Field_Id" name="Authorize_CaseFormDetail" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-success float-right btn-sm">
                                                                        <span class="fas fa-check"></span>
                                                                    </button>
                                                                    <button type="button" value="@item.CaseForm_Field_Id" name="DeleteFromAuthorizeCaseFormDetail" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-times"></span>
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <p class="Unauthozie-p">
                                                                        <b>Unauthorize</b>
                                                                    </p>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                    break;
                                case "TEXT":
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="dep_name">@item.CaseForm_Data_ORDER_BY ) @item.CaseForm_Field_Name</label>
                                                    <br />
                                                    @if (item.CaseForm_Filed_IsAD == true)
                                                    {
                                                        <strong class="text-red"> (For AD)</strong>
                                                    }
                                                    else
                                                    {
                                                        <strong class="city-default-font-color"> (For Client)</strong>
                                                    }
                                                </div>
                                                <div class="col-md-10">
                                                    <textarea rows="5" id="@item.CaseForm_Field_Id" class="form-control" minlength="@item.CaseForm_Data_MIN_LENGTH" maxlength="@item.CaseForm_Data_MAX_LENGTH"></textarea>
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <strong class="city-default-font-color">
                                                                Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                                @{ if (item.CaseForm_Field_IsRequired == true)
                                                                    {
                                                                        <strong class="text-red">* Required * </strong>
                                                                    }
                                                                }
                                                            </strong>
                                                        </div>
                                                        <div class="col-md-4 float-right btn-sm">
                                                            @{
                                                                if (item.CaseForm_Field_IsAuth == true)
                                                                {
                                                                    <button type="button" value="@item.CaseForm_Field_Id" name="DeleteFormDetailFieldData" data-toggle="tooltip" title="Delete @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-trash"></span>
                                                                    </button>
                                                                    <a href="@Url.Action("CaseForm_Fields", "Icore_CaseForm", new { form_ID = FXAutomation.DAL.Encrypt(item.CaseForm_FormId.ToString()), field_ID = FXAutomation.DAL.Encrypt(item.CaseForm_Field_Id.ToString()) })" class="btn btn-outline-info float-right btn-sm" data-toggle="tooltip" title="Edit @item.CaseForm_Field_Name"><span class="fas fa-edit"></span></a>
                                                                }
                                                                else if (item.CaseForm_Field_MakerId != Session["USER_ID"].ToString() && item.CaseForm_Field_IsAuth == false)
                                                                {
                                                                    <button type="button" value="@item.CaseForm_Field_Id" name="Authorize_CaseFormDetail" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-success float-right btn-sm">
                                                                        <span class="fas fa-check"></span>
                                                                    </button>
                                                                    <button type="button" value="@item.CaseForm_Field_Id" name="DeleteFromAuthorizeCaseFormDetail" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                        <span class="fas fa-times"></span>
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <p class="Unauthozie-p">
                                                                        <b>Unauthorize</b>
                                                                    </p>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                    break;
                                case "DROPDOWNLIST":
                                    <div class="col-md-12">
                                        @if (item.CaseType_Name == null)
                                        {
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>@item.CaseForm_Data_ORDER_BY ) @item.CaseForm_Field_Name</label>
                                                        <br />
                                                        @if (item.CaseForm_Filed_IsAD == true)
                                                        {
                                                            <strong class="text-red"> (For AD)</strong>
                                                        }
                                                        else
                                                        {
                                                            <strong class="city-default-font-color"> (For Client)</strong>
                                                        }
                                                    </div>
                                                    <div class="col-md-10">
                                                        @{
                                                            List<SelectListItem> Dropdown = new List<SelectListItem>();
                                                            if (item.Lookup_Text != null && item.Lookup_Value != null)
                                                            {
                                                                string[] Texts = item.Lookup_Text.Split(',');
                                                                string[] Values = item.Lookup_Value.Split(',');
                                                                if (Texts.Count() == Values.Count())
                                                                {
                                                                    for (int i = 0; i < Texts.Length; i++)
                                                                    {
                                                                        SelectListItem listitem = new SelectListItem() { Text = Texts[i], Value = Values[i] };
                                                                        Dropdown.Add(listitem);
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    SelectListItem listitem = new SelectListItem() { Text = "Error in loading list", Value = "Error in loading list" };
                                                                    Dropdown.Add(listitem);
                                                                }
                                                            }
                                                        }
                                                        @Html.DropDownList(item.CaseTitle_Name, new SelectList(Dropdown, "Value", "Text"), new { @class = "form-control select2 select2-primary" })
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <strong class="city-default-font-color">
                                                                    Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                                    @{ if (item.CaseForm_Field_IsRequired == true)
                                                                        {
                                                                            <strong class="text-red">* Required * </strong>
                                                                        }
                                                                    }
                                                                </strong>
                                                            </div>
                                                            <div class="col-md-4 float-right btn-sm">
                                                                @{
                                                                    if (item.CaseForm_Field_IsAuth == true)
                                                                    {
                                                                        <button type="button" value="@item.CaseForm_Field_Id" name="DeleteFormDetailFieldData" data-toggle="tooltip" title="Delete @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                            <span class="fas fa-trash"></span>
                                                                        </button>
                                                                        <a href="@Url.Action("CaseForm_Fields", "Icore_CaseForm", new { form_ID = FXAutomation.DAL.Encrypt(item.CaseForm_FormId.ToString()), field_ID = FXAutomation.DAL.Encrypt(item.CaseForm_Field_Id.ToString()) })" class="btn btn-outline-info float-right btn-sm" data-toggle="tooltip" title="Edit @item.CaseForm_Field_Name">
                                                                            <span class="fas fa-edit"></span>
                                                                        </a>
                                                                    }
                                                                    else if (item.CaseForm_Field_MakerId != Session["USER_ID"].ToString() && item.CaseForm_Field_IsAuth == false)
                                                                    {
                                                                        <button type="button" value="@item.CaseForm_Field_Id" name="Authorize_CaseFormDetail" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-success float-right btn-sm">
                                                                            <span class="fas fa-check"></span>
                                                                        </button>
                                                                        <button type="button" value="@item.CaseForm_Field_Id" name="DeleteFromAuthorizeCaseFormDetail" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                            <span class="fas fa-times"></span>
                                                                        </button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="Unauthozie-p">
                                                                            <b>Unauthorize</b>
                                                                        </p>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>@item.CaseForm_Data_ORDER_BY ) @item.CaseForm_Field_Name</label>
                                                        <br />
                                                        @if (item.CaseForm_Filed_IsAD == true)
                                                        {
                                                            <strong class="text-red"> (For AD)</strong>
                                                        }
                                                        else
                                                        {
                                                            <strong class="city-default-font-color"> (For Client)</strong>
                                                        }
                                                    </div>
                                                    <div class="col-md-10">
                                                        @{
                                                            List<SelectListItem> Dropdown = new List<SelectListItem>();
                                                            if (item.Lookup_Text != null && item.Lookup_Value != null)
                                                            {
                                                                string[] Texts = item.Lookup_Text.Split(',');
                                                                string[] Values = item.Lookup_Value.Split(',');
                                                                if (Texts.Count() == Values.Count())
                                                                {
                                                                    for (int i = 0; i < Texts.Length; i++)
                                                                    {
                                                                        SelectListItem listitem = new SelectListItem() { Text = Texts[i], Value = Values[i] };
                                                                        Dropdown.Add(listitem);
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    SelectListItem listitem = new SelectListItem() { Text = "Error in loading list", Value = "Error in loading list" };
                                                                    Dropdown.Add(listitem);
                                                                }
                                                            }
                                                        }
                                                        @Html.DropDownList(item.CaseType_Name, new SelectList(Dropdown, "Value", "Text"), new { @class = "form-control select2 select2-primary" })
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <strong class="city-default-font-color">
                                                                    Min-Max Input Length for @item.CaseForm_Field_Name is @item.CaseForm_Data_MIN_LENGTH - @item.CaseForm_Data_MAX_LENGTH
                                                                    @{ if (item.CaseForm_Field_IsRequired == true)
                                                                        {
                                                                            <strong class="text-red">* Required * </strong>
                                                                        }
                                                                    }
                                                                </strong>
                                                            </div>
                                                            <div class="col-md-4 float-right btn-sm">
                                                                @{
                                                                    if (item.CaseForm_Field_IsAuth == true)
                                                                    {
                                                                        <button type="button" value="@item.CaseForm_Field_Id" name="DeleteFormDetailFieldData" data-toggle="tooltip" title="Delete @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                            <span class="fas fa-trash"></span>
                                                                        </button>
                                                                        <a href="@Url.Action("CaseForm_Fields", "Icore_CaseForm", new { form_ID = FXAutomation.DAL.Encrypt(item.CaseForm_FormId.ToString()), field_ID = FXAutomation.DAL.Encrypt(item.CaseForm_Field_Id.ToString()) })" class="btn btn-outline-info float-right btn-sm" data-toggle="tooltip" title="Edit @item.CaseForm_Field_Name"><span class="fas fa-edit"></span></a>
                                                                    }
                                                                    else if (item.CaseForm_Field_MakerId != Session["USER_ID"].ToString() && item.CaseForm_Field_IsAuth == false)
                                                                    {
                                                                        <button type="button" value="@item.CaseForm_Field_Id" name="Authorize_CaseFormDetail" data-toggle="tooltip" title="Authorize @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-success float-right btn-sm">
                                                                            <span class="fas fa-check"></span>
                                                                        </button>
                                                                        <button type="button" value="@item.CaseForm_Field_Id" name="DeleteFromAuthorizeCaseFormDetail" data-toggle="tooltip" title="Reject @Html.DisplayFor(modelItem => item.CaseForm_Field_Name)" class="btn btn-outline-danger float-right btn-sm">
                                                                            <span class="fas fa-times"></span>
                                                                        </button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="Unauthozie-p">
                                                                            <b>Unauthorize</b>
                                                                        </p>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <hr />
                                    </div>
                                    break;
                                default:
                                    break;
                            }
                        }

                    </div>
                </div>
            </div>
        }
    }

}









