﻿@model FXAutomation.Models.CommentHistory

@{
    ViewBag.Title = "Comment History";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Comment History";
}
@{
    FXAutomation.Models.FXDIGEntities context = new FXAutomation.Models.FXDIGEntities();
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("CommentsHistory", "Icore_SubmittedCase", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card card-default card-outline">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Select Form")
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Master, new SelectList(context.ICORE_CASE_FORMS_MASTER.Where(m => m.CaseForm_IsAuth == true && m.CaseForm_Status == true).ToList(), "CaseForm_Id", "CaseForm_Name", Model.Master), "-- Select Form --", new { @class = "form-control select2 select2-primary" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Case No")
                            <div class="col-md-10">
                                <input type="text" autocomplete="off" placeholder="Enter Case Number" name="CaseNumber" id="CaseNumber" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.Label("Action")
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <span class="fas fa-undo"></span> Fetch
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@{
    if (Model != null)
    {
        if (Model.CommentLog.Count() > 0)
        {
            <div class="card card-default card-outline">
                <div class="card-body">
                    <table id="Reporting" class="table table-bordered text-center table-hover">
                        <thead class="citi-table-head">
                            <tr>
                                <th>
                                    @Html.Label("Case Number")
                                </th>
                                <th>
                                    @Html.Label("Client Name")
                                </th>
                                <th>
                                    @Html.Label("Document Name")
                                </th>
                                <th>
                                    @Html.Label("Added by")
                                </th>
                                <th>
                                    @Html.Label("Date N Time")
                                </th>
                                <th>
                                    @Html.Label("Comments")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CommentLog)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CDL_CASE_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CDL_CLIENT_NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CDL_DOCUMENT_NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CDL_ADDED_BY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CDL_ENTRY_DATETIME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CDL_COMMENTS)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
}