﻿@model IEnumerable<FXAutomation.Models.ICORE_SUBMIT_CASE_COMMENTS>

<!-- DIRECT CHAT -->
<div class="card direct-chat direct-chat-primary">
    <!-- /.card-header -->
    <div class="card-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages">
            <input type="hidden" id="DocumentID" value="@ViewBag.DocumentID" />
    @{
        if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                FXAutomation.Models.FXDIGEntities cont = new FXAutomation.Models.FXDIGEntities();
                if (item.SCC_IS_AD == true)
                {
                <!-- Message to the right -->
                    <div class="direct-chat-msg right">
                        <div class="direct-chat-infos clearfix">
                            @{
                                string UserName = cont.ICORE_LOGIN.Where(m => m.LOG_USER_ID == item.SCC_ADDED_BY).Select(m => m.LOG_USER_NAME).FirstOrDefault();
                            }
                            <span class="direct-chat-name float-right">@UserName</span>
                            <span class="direct-chat-timestamp float-left">@item.SCC_ADDED_DATE_TIME</span>
                        </div>
                        <div class="direct-chat-text">
                            @item.SCC_COMMENT
                        </div>
                        <!-- /.direct-chat-text -->
                    </div>
                }
                else
                {
<!-- Message. Default to the left -->
                    <div class="direct-chat-msg">
                        <div class="direct-chat-infos clearfix">
                            @{
                                string UserName = cont.ICORE_CLIENT_PORTFOLIO.Where(m => m.CP_EMAIL == item.SCC_ADDED_BY).Select(m => m.CP_NAME).FirstOrDefault();
                            }
                            <span class="direct-chat-name float-left">@UserName</span>
                            <span class="direct-chat-timestamp float-right">@item.SCC_ADDED_DATE_TIME</span>
                        </div>
                        <div class="direct-chat-text">
                            @item.SCC_COMMENT
                        </div>
                        <!-- /.direct-chat-text -->
                    </div>
                        }
                    }
                }
                else
                {
                    <div class="text-center">
                        No Comments found against the document
                    </div>
                }
            }
        </div>
    </div>
</div>
<!--/.direct-chat -->
