﻿@model IEnumerable<FXAutomation.Models.QueueCasesReport_Result>

@{
    ViewBag.Title = "Cases Report";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Cases Report";
}
@{
    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("QueueCases", "Icore_SubmittedCase", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card card-default card-outline">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("From Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="date" name="FromDate" id="FromDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("To Date")
                                </div>
                                <div class="col-md-10">
                                    <input type="date" name="EndDate" id="EndDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" placeholder="Enter Case Number" name="CaseNumber" id="CaseNumber" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    <span class="fas fa-undo"></span>Fetch
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@{
    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card card-default card-outline">
                <div class="card-body">
                    <table id="Reporting" class="table table-bordered text-center table-hover">
                        <thead class="citi-table-head">
                            <tr>
                                <th>
                                    @Html.Label("Case Number")
                                </th>
                                <th>
                                    @Html.Label("Submitted Date")
                                </th>
                                <th>
                                    @Html.Label("Department")
                                </th>
                                <th>
                                    @Html.Label("Category")
                                </th>
                                <th>
                                    @Html.Label("Case Type")
                                </th>
                                <th>
                                    @Html.Label("Case Title")
                                </th>
                                <th>
                                    @Html.Label("Case Form")
                                </th>
                                <th>
                                    @Html.Label("Region")
                                </th>
                                <th>
                                    @Html.Label("Case Status")
                                </th>
                                <th>
                                    @Html.Label("Status Date")
                                </th>
                                <th>
                                    @Html.Label("Status Description")
                                </th>
                                <th>
                                    @Html.Label("Ageing")
                                </th>
                                <th>
                                    @Html.Label("Customer")
                                </th>
                                <th>
                                    @Html.Label("Customer ID")
                                </th>
                                <th>
                                    @Html.Label("Customer Email")
                                </th>
                                <th>
                                    @Html.Label("Amount")
                                </th>
                                <th>
                                    @Html.Label("Currency")
                                </th>
                                <th>
                                    @Html.Label("M Form No")
                                </th>
                                <th>
                                    @Html.Label("Role")
                                </th>
                                <th>
                                    @Html.Label("Updated By")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_CASE_NUMBER)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_SUBMITTED_DATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_DEPARTMENT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_CATEGORY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_CASE_TYPE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_CASE_TITLE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_CASE_FORM)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_REGION)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_CASE_STATUS)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_STATUS_DATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_LOG_STATUS)
                                    </td>
                                    <td>
                                        @{
                                            if (item.OL_AGEING == 0)
                                            {
                                                DateTime NowDate = DateTime.Now.Date;
                                                DateTime StatusDate = ((DateTime)item.OL_STATUS_DATE).Date;
                                                ViewBag.DateDiff = (NowDate - StatusDate).TotalDays;
                                                @ViewBag.DateDiff
                                            }
                                            else
                                            {
                                                ViewBag.Agening = item.OL_AGEING;
                                                @ViewBag.Agening
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_CUSTOMER)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_USER_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_CUSTOMER_EMAIL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_AMOUNT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_CURRENCY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_M_FORM_NUMBER)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_USER_ROLE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OL_UPDATE_BY)
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot class="citi-table-head">
                            <tr>
                                <th>
                                    @Html.Label("Case Number")
                                </th>
                                <th>
                                    @Html.Label("Submitted Date")
                                </th>
                                <th>
                                    @Html.Label("Department")
                                </th>
                                <th>
                                    @Html.Label("Category")
                                </th>
                                <th>
                                    @Html.Label("Case Type")
                                </th>
                                <th>
                                    @Html.Label("Case Title")
                                </th>
                                <th>
                                    @Html.Label("Case Form")
                                </th>
                                <th>
                                    @Html.Label("Region")
                                </th>
                                <th>
                                    @Html.Label("Case Status")
                                </th>
                                <th>
                                    @Html.Label("Status Date")
                                </th>
                                <th>
                                    @Html.Label("Status Description")
                                </th>
                                <th>
                                    @Html.Label("Ageing")
                                </th>
                                <th>
                                    @Html.Label("Customer")
                                </th>
                                <th>
                                    @Html.Label("Customer ID")
                                </th>
                                <th>
                                    @Html.Label("Customer Email")
                                </th>
                                <th>
                                    @Html.Label("Amount")
                                </th>
                                <th>
                                    @Html.Label("Currency")
                                </th>
                                <th>
                                    @Html.Label("M Form No")
                                </th>
                                <th>
                                    @Html.Label("Role")
                                </th>
                                <th>
                                    @Html.Label("Updated By")
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
        else
        {
            <h2 class="text-center">No Data Found</h2>
        }
    }
}
