﻿@model IEnumerable<FXAutomation_Client_Portal.Models.ICORE_SUBMIT_CASE_FORM_FIELD_MASTER_VIEW>
@{
    ViewBag.Title = "Case Submission Form";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Case Submission Forms";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

            <div class="card card-primary">
                <div class="card-header" id="citi-card-header">
                    <h3 class="card-title">Submitted Form</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered text-center table-hover">
                        <thead class="citi-table-header">
                            <tr>
                                <th>
                                    Action
                                </th>
                                <th>
                                    Form Name
                                </th>
                                <th>
                                    Case Number
                                </th>
                                <th>
                                    Case Status
                                </th>
                                <th>
                                    Case Status Date
                                </th>
                                <th>
                                    Comment against the Case
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <button type="button" value="sp_@item.SCFM_ID _@item.SCFM_CASE_FORM_ID" class="btn btn-outline-primary" name="ViewSubmitted_Form" data-toggle="modal" data-target="#modal-xl" title="View @item.CaseForm_Name">
                                            <span class="fas fa-eye"></span>
                                        </button>
                                        @{
                                            if (item.SCFS_NAME.Contains("Discrepant"))
                                            {
                                                <a href="@Url.Action("EditSubmittedForm", "CaseSubmission_Form", new { Form_Id = item.SCFM_ID })" class="btn btn-outline-success" data-toggle="tooltip" title="Edit @item.CaseForm_Name">
                                                    <span class="fas fa-pen"></span>
                                                </a>
                                            }
                                        }
                                        @*<input type="button" value="View" class="btn btn-outline-primary" onclick="ViewSubmittedFormClick()" />*@
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CaseForm_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SCFM_CASE_NO)
                                    </td>
                                    <td id="badge-font-size">
                                            <span class="badge badge-warning" data-toggle="tooltip" title="@item.SCFS_DESCRIPTION">@Html.DisplayFor(modelItem => item.SCFS_NAME)</span>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SCFM_STATUS_DATE)
                                    </td>
                                    <td>
                                        @{
                                            if (item.SCFM_QUEUE == "Ops Queue")
                                            {
                                                if (item.SCFM_COMMENT != null)
                                                {
                                                    <button class="btn btn-outline-success btn-sm" title="Click here to reply" type="button" id="ViewPreviousCommentsOfMaster" name="ViewPreviousCommentsOfMaster" data-toggle="modal" data-target="#modal-lg" value="@item.SCFM_CASE_NO">
                                                        <span class="fas fa-reply"></span>
                                                    </button> 
                                                }
                                                @Html.DisplayFor(modelItem => item.SCFM_COMMENT)
                                            }
                                            else
                                            {
                                                <p></p>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal fade" id="modal-xl">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Submitted Form</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="SubmittedCaseFormFields"></div>
                            
                            <div id="SubmittedCaseDocument"></div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                            <h4><b>FX</b> Digitalization</h4>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="modal fade" id="modal-lg">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Comment against the Case</h4>
                            <button type="button" id="CloseClientChatAgaintCase" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="LoadPreviousMasterCaseComments"></div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>