﻿@model FXAutomation_Client_Portal.Models.RequestPRC
@{
    ViewBag.Title = "ePRC";
    ViewBag.Controller = "Home";
    ViewBag.Action = "ePRC";
    Layout = "~/Views/Shared/_PRCLayout.cshtml";
}
<input type="hidden" id="CustomMessageePrc" value="@ViewBag.message" />

<nav class="navbar sticky-top custom-navbar">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="~/Content/Dashboard/dist/img/BGImage.png" alt="Citi Bank" width="90" height="60" class="d-inline-block">
        </div>
        <div class="navbar-brand float-right">
            <div class="row">
                <a href="#" class="ePRC_Navbar CPass">Change Password</a>
                <span class="ePRC_Navbar">&nbsp; | &nbsp;</span>
                <a href="#" class="ePRC_Navbar Logout">Logout</a>
            </div>
        </div>
    </div>
</nav>

<br />
<h2 class="text-center custom-font-family">Proceed Realisation Certificate (ePRC/sPRC) Verification</h2>
<br />
@using (Html.BeginForm("Index", "ePRC", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header p-0 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">e-PRC</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-four-tabContent">
                            <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                <h5>Instrument Detail :</h5>
                                <hr />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span class="text-danger req-font-size">* </span>@Html.Label("Online Verification Of:")
                                            </div>
                                            <div class="col-md-3">
                                                @Html.CheckBoxFor(model => model.ePRC, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ePRC, "", new { @class = "text-danger" })
                                                @Html.Label("e-PRC")
                                            </div>
                                            <div class="col-md-3">
                                                @Html.CheckBoxFor(model => model.sPRC, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.sPRC, "", new { @class = "text-danger" })
                                                @Html.Label("s-PRC")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="text-danger lbl_amount req-font-size" id="astuniqueno">* </span><label>e-PRC/s-PRC Unique ID No.</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.UNIQUE_ID_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter e-PRC/s-PRC Unique ID No" } })
                                                @Html.ValidationMessageFor(model => model.UNIQUE_ID_NO, "", new { @class = "text-danger" })
                                            </div>
                                            <span class="text-blue">Example : CITI-PRC-0000-000000000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="text-danger req-font-size">* </span>@Html.Label("Date of Issuance")
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.DATE_OF_ISSUANCE, new { htmlAttributes = new { @class = "form-control", @type = "date", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.DATE_OF_ISSUANCE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="text-danger lbl_amount req-font-size" id="astamount">* </span>@Html.Label("Amount (in PKR)")
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.AMOUNT_IN_PKR, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Amount (in PKR)" } })
                                                @Html.ValidationMessageFor(model => model.AMOUNT_IN_PKR, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <h5>Verifying Agency Information :</h5>
                                <hr />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="text-danger req-font-size">* </span>@Html.Label("Name of Verifying Agency")
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.VERIFICAION_AGENCY, null, new { @class = "form-control select2 select2-primary" })
                                                @Html.ValidationMessageFor(model => model.VERIFICAION_AGENCY, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="text-danger req-font-size">* </span>@Html.Label("Department/Field Formation")
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.DEPARTMENT_FIELD_FORMATION, null, new { @class = "form-control select2 select2-primary" })
                                                @Html.ValidationMessageFor(model => model.DEPARTMENT_FIELD_FORMATION, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="text-danger req-font-size">* </span>@Html.Label("Name Of Verifying Officer")
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.VERIFYING_OFFICER, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Verifying Officer" } })
                                                @Html.ValidationMessageFor(model => model.VERIFYING_OFFICER, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="text-danger req-font-size">* </span><label>CNIC No.</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.CNIC_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "XXXXX-XXXXXXX-X" } })
                                                @Html.ValidationMessageFor(model => model.CNIC_NO, "", new { @class = "text-danger" })
                                            </div>
                                            <span class="text-blue">Example : 00000-0000000-0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="text-danger req-font-size">* </span>@Html.Label("Purpose of Verification")
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.PURPOSE_OF_VERIFICATION, null, new { @class = "form-control select2 select2-primary" })
                                                @Html.ValidationMessageFor(model => model.PURPOSE_OF_VERIFICATION, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.Label("Email Address")
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.EMAIL_ADDRESS, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.EMAIL_ADDRESS, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Submit Request" class="btn btn-outline-primary btn-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </div>
}
