﻿@model IEnumerable<FXAutomation.Models.ICORE_FUNCTIONS>
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Dasboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @{
        foreach (var item in Model)
        {
            <div class="col-lg-4">
                <!-- small box -->
                <div class="small-box custom-small-box">
                    <div class="inner">
                        <h4>@item.F_NAME</h4>

                        <p class="text-transparent">.</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-@item.F_ICON text-white"></i>
                    </div>
                    <a href="@Url.Action(item.F_ACTION, item.F_CONTROLLER)" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        }
    }
</div>
