﻿@model IEnumerable<FXAutomation.Models.ICORE_FUNCTIONS>

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model.Where(m => m.F_PARENT_ID == 0).OrderBy(m => m.F_ORDER))
    {

        List<FXAutomation.Models.ICORE_FUNCTIONS> Childs = Model.Where(m => m.F_PARENT_ID == item.F_ID).OrderBy(m => m.F_ORDER).ToList();
        if (Childs != null && Childs.Count > 0)
        {
            <li class="nav-item menu-close">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-@item.F_ICON"></i>
                    <p data-toggle="tooltip" title="@item.F_NAME">
                        @if (item.F_NAME.Count() >= 20)
                        {
                            string Display = item.F_NAME.Substring(0, 20).ToString() + "...";
                            @(Display.ToString());
                        }
                        else
                        {
                            @(item.F_NAME.ToString());
                        }
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    @{
                        foreach (var child in Childs)
                        {
                            <li class="nav-item">
                                <a href="@Url.Action(child.F_ACTION, child.F_CONTROLLER)" class="nav-link">
                                    <i class="far fas fa-@child.F_ICON nav-icon"></i>
                                    <p data-toggle="tooltip" title="@child.F_NAME">
                                        @if (child.F_NAME.Count() >= 20)
                                        {
                                            string Display = child.F_NAME.Substring(0, 20).ToString() + "...";
                                            @(Display.ToString());
                                        }
                                        else
                                        {
                                            @(child.F_NAME.ToString());
                                        }
                                    </p>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>

        }
        else
        {
            <li class="nav-item">
                <a href="@Url.Action(item.F_ACTION, item.F_CONTROLLER)" class="nav-link">
                    <i class="nav-icon fas fa-@item.F_ICON"></i>
                    <p data-toggle="tooltip" title="@item.F_NAME">
                        @if (item.F_NAME.Count() >= 20)
                        {
                            string Display = item.F_NAME.Substring(0, 20).ToString() + "...";
                            @(Display.ToString());
                        }
                        else
                        {
                            @(item.F_NAME.ToString());
                        }
                    </p>
                </a>
            </li>
        }

    }
}
else
{
    <p> Problem While Fetching Functions <br /> Please Login Again to Continue.</p>
}


