﻿
@{
    Layout = null;
}

<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Assets/Dashboard/dist/css/CustomStyle.css" rel="stylesheet" />
    <link href="~/Assets/Dashboard/dist/css/adminlte.css" rel="stylesheet" />
</head>
<body>
    <br />
    <div class="card">
        <div class="card-body text-center">
            <h1><span class="text-danger">Unauthorized</span> Access</h1>
            <p>Page Access on Page</p>
            <p>The page you are attempting to reach is unauthorized for you!</p>
            <div class="buttons-con">
                <div class="action-link-wrap">
                    <a href="@Url.Action("Index","dashboard")" class="btn btn-danger">Go to Home Page</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
