﻿@model FXAutomation.Models.ICORE_CASE_TYPES

@{
    ViewBag.Title = "Case Type";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Case Types";
}

@{
    if (ViewBag.messeage != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.messeage
        </div>
    }
}
@using (Html.BeginForm("Casetype", "Icore_Casetype", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CaseType_Id)


    <div class="card">
        <div class="card-header citi-table-head">
            <h3 class="card-title">Case Type</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="casetype_name">Case Type Name</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CaseType_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Cast Type Name" } })
                            @Html.ValidationMessageFor(model => model.CaseType_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="casetype_code">Case Type Code</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.CaseType_Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Cast Type Code" } })
                            @Html.ValidationMessageFor(model => model.CaseType_Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cate_desription">Select Category</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.CaseType_CategoryId, null, new { @class = "form-control select2 select2-primary" })
                            @Html.ValidationMessageFor(model => model.CaseType_Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="casetype_status">Case Type Status</label>
                        <div class="col-md-12">
                            <div class="checkbox">
                                @Html.DropDownListFor(model => model.CaseType_Status, new List<SelectListItem>
                                { new SelectListItem{Text="Active", Value="true"},
                                    new SelectListItem{Text="Deactive", Value="false"}},"--Select Status--", new { @class = "form-control select2 select2-primary" })
                                @Html.ValidationMessageFor(model => model.CaseType_Status, "", new { @class = "text-danger", @placeholder = "Select Status" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="casetype_descp">Case Type Description</label>
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.CaseType_Description, new { @class = "form-control", @rows = "5", @placeholder = "Enter Cast Type Description" })
                        @Html.ValidationMessageFor(model => model.CaseType_Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary btn-sm" />
                </div>
            </div>
        </div>
    </div>
}
<div>
    @{
        Html.RenderAction("Casetype_grid", "Icore_Casetype");
    }
</div>